<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/exercise.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>ออกกำลังกายเเบบคาร์ดิโอ</title>

    <style>
        .run-a {
            font-weight: 700;
            color: blueviolet;
            text-decoration: none;
        }
    </style>
</head>
<body>

    <div class="box-center">
        <nav >
            <div class="logo">
                <h4>HEALTH IS FUN</h4>
            </div>
            <ul class="nav-links">
                <li><a href="{{url_for('home')}}">HOME</a></li>
                <li><a href="{{url_for('check')}}">CHECK BMI</a></li>
                <li><a href="{{url_for('food')}}">FOOD</a></li>
                <li><a href="{{url_for('exercise_page1')}}">EXERCISE</a></li>
                <li><a href="#">#</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                
            </div>
        </nav>
    
        
        <div class="container">
            
            

            <div class="exercise">
                <h1 class="title-exercise">🚴‍♀️ท่าออกกำลังกายเเบบคาร์ดิโอ🚴‍♀️</h1>
                <h1 class="title-exercise">🚴‍♂️Cardio exercise🚴‍♂️</h1>
                <br>
                <br>
                <img src="/static/images/ออกกำลังกายเเบบคาร์ดิโอ.jpg" alt="title" width="100%">
                <h4 style="margin: 2% 0 2% 0%;"> การออกกำลังกายเเบบคาร์ดิโอ คือการออกกำลังกายเเบบเครื่องไหวร่างกายหลายๆส่วนพร้อมกัน
                    ต่อเนื่อง การออกกำลังกายคาร์ดิโอจะช่วยลดไขมันใต้ผิวหนังทุกส่วนของร่างกายเเละทำให้ระบบหมุนเวียนเลือด กล้ามเนื้อหัวใจทำงานได้ดีขึ้น
                    หากทำเป็นประจำจะทำให้ไม่เหนื่อยง่าย
                    
                </h4>
                <hr>
                <br>



                <iframe width="560" height="315" src="https://www.youtube.com/embed/kVnyY17VS9Y" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Running</h3>
            <p>การวิ่งเป็นการคาร์ดิโอที่ใช้เเรงเเทบจะทุกส่วนของร่างกายทำให้การหมุนเวียนเลือดเเละกล้ามเนื้อหัวใจทำงานอย่างเต็มที่ 
               การวิ่งเป็นการออกกำลังกายที่ง่ายเเต่มีความเสี่ยงที่จะบาดเจ็บสูงเเละรุนเเรงหากวิ่งไม่ถูกวิธี 
            <br> <a href="https://www.fitmesport.com/proper-running-form/" class="run-a">วิ่งอย่างไรให้ถูกวิธี</a>
            <p>
                <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละมีอุปกรณ์รองรับน้ำหนักเพื่อป้องกันการบาดเจ็บ
            </p>
            </p>
        
            <p>         
                ⚫ สำหรับผู้เริ่มต้นวิ่ง ให้วิ่งด้วยความเร็วที่คิดว่าจะวิ่งได้อย่างน้อย 10 นาทีโดยไม่หยุดพัก 
                    จากนั้นจึงค่อยเพิ่มเวลาเเละความเร็วในการวิ่งไปทีละระดับ ควรดื่มน้ำ 150-200 ML ทุกๆ10-15นาที
                    
        <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละส่วมใส่รองเท้าที่เหมาะกับการวิ่งควรมีขนาด พอดีกับเท้า ไม่หลวมหรือคับเกินไป
    </p>
        <hr>
        <br>
        <br>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/dZgVxmf6jkA" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h3>Burpee</h3>
                <p>ท่านี้จะมีความยากเนื่องจากมีหลายขึ้นตอน แต่ท่านี้เป็นท่าออกกำลังกายที่กินพลังงานมากๆ ใช้กล้ามเนื้อทุกส่วนของร่างกาย 
                <br>    1.สเตปลง : ยืนตัวตรง หลังตรง ผลักสะโพกไปด้านหลัง แขนเหยียดตรงยันตัวไว้กับพื้นด้านหน้า หลังจากนั้นก้าวขาทีละขาหรือดีดขาทั้งสองพร้อมกันไปด้านหลัง ท่านี้จะมีความเหมือนกับท่าเตรียมวิดพื้น
                <br>    2.สเตปนอน: เริ่มต้นด้วยการหย่อนตัวลงกับพื้นให้หน้าอกแตะที่พื้น ทำแบบเร็วๆ จากนั้นเหยียดขามาด้านหลัง ทำในลักษณะขาดีดมาด้านหลังพร้อมๆ กับการหย่อนตัวลงที่พื้น จากนั้นยืดตัวขึ้นด้วยขึ้นด้วยท่าเตรียมวิดพื้น
                <br>    3.สเตปขึ้น: ลุกขึ้นยืนตรงแล้วทำท่ากระโดด ชูมือขึ้นฟ้า
                <br>    ทำ 8-10 ครั้ง 4 เซต
                <p>         
                            ⚫ set ที่1 ทำ 8-10 ครั้ง พัก 40 วินาที
                    <br>    ⚫ set ที่2 ทำ 8-10 ครั้ง 40 วินาที
                    <br>    ⚫ set ที่3 ทำ 8-10 ครั้ง ครั้ง พัก 40 วินาที 
                    <br>    ⚫ set ที่4 ทำ 8-10 ครั้ง ครั้ง พัก 60 วินาที 
                    <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละมีอุปกรณ์รองรับน้ำหนักเพื่อป้องกันการบาดเจ็บ
                </p>
                </p>
            
                
            <hr>
            <br>
            <br>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/fmA5yCgnT3s" title="YouTube video player" frameborder="0"
             allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3> Punches</h3>
            <p> ท่านี้มีประสิทธิภาพมากในการช่วยเพิ่มอัตราการเต้นของหัวใจ 
                โดยทั่วไปท่าชกลมจะเป็นการช่วยเพิ่มการเผาผลาญและลดการสะสมของไขมันในร่างกายได้เป็นอย่างดี
             และยังช่วยเพิ่มความแข็งแกร่งให้กล้ามเนื้อแกนกลางของเราได้อีกด้วย
             เริ่มต้นด้วยท่ายื้นตรง แยกปลายเท้าออกเล็กน้อย กำมือไว้ที่หน้าอก 
             จากนั้นออกแรงทำท่าชกลม นับเป็น 1 ครั้ง ทำ 10-15 ครั้ง ทั้งหมด 3 เซต
                
            <p>
                        ⚫ set ที่1 ทำ 10-15 ครั้ง พัก 20 วินาที
                <br>    ⚫ set ที่2 ทำ 10-15 ครั้ง พัก 20 วินาที
                <br>    ⚫ set ที่3 ทำ 10-15 ครั้ง พัก 60 วินาที
                <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละมีอุปกรณ์รองรับน้ำหนักเพื่อป้องกันการบาดเจ็บ
            </p>
            </p>
        
            
        <hr>
        <br>
        <br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/C_P3Q-PssvY" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Backward Lunge</h3>
            <p>เป็นการบริหารช่วงขาและเอว ด้วยการก้าวไปด้านหลังแล้วย่อตัวลงให้เข่าแตะพื้นและเข่าด้านตั้งฉาก เกร็งหน้าท้องให้มาก แล้วยกตัวขึ้น 
                ทำสลับข้างกัน เป็นการสร้างกล้ามเนื้อบริเวณต้นขาและลดไขมันต้นขาได้มาก ทำข้างละ 10-15 ครั้ง ทั้งหมด 3 เซต
                
            <p>
                        ⚫ set ที่1 ทำข้างละ 10-15 ครั้ง พัก 10 วินาที
                <br>    ⚫ set ที่2 ทำข้างละ 10-15 ครั้ง พัก 10 วินาที
                <br>    ⚫ set ที่3 ทำข้างละ 10-15 ครั้ง พัก 20 วินาที 

                <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละมีอุปกรณ์รองรับน้ำหนักเพื่อป้องกันการบาดเจ็บ
            </p>
            </p>
        
            
        <hr>
        <br>
        <br>

            
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YRqoIM0u0PY" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Glute Bridge</h3>
            <p>การบริหารช่วงท้องและเอว ด้วยการนอนราบกับพื้น ชันเข่าทั้งสองข้างขึ้น แขนทั้งวางราบข้างลำตัว จากนั้นยกสะโพกขึ้นสูง 
                ค้างไว้ประมาณ 5 วินาที ท่านี้จะช่วยให้สะโพกและบั้นท้ายเข้ารูปสวยงาม และลดไขมันบริเวณหน้าท้องได้ ทำ 5-10 ครั้ง ทั้งหมด 3 เซต
               


            <p>
                        ⚫ set ที่1 5-10 ครั้ง พัก 20 วินาที
                <br>    ⚫ set ที่2 5-10 ครั้ง พัก 20 วินาที
                <br>    ⚫ set ที่3 5-10 ครั้ง พัก 30 วินาที 

                <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละมีอุปกรณ์รองรับน้ำหนักเพื่อป้องกันการบาดเจ็บ
            </p>
            </p>
          
            <hr>
            <br>
            

          
            <p>#แหล่งอ้างอิงข้อมูล https://www.gowabi.com/blog/2020/04/exercise-idea-ep1-9-steps-cardio , https://www.fitnessth.com   https://www.fitmesport.com/proper-running-form/</p>
        </div>
            
            
        
        <div class="end-ex">
                <a href="{{url_for('exercise_page1')}}" class="btn btn-primary" role="button" toggle="button">กลับสู่หน้าหลัก</a>
        </div>
    </div>
        
        <div style="height: 10%;">

        </div>
       
    </div>
</body>
</html>