<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/exercise.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>กล้ามเนื้อต้นเเขน</title>
</head>
<body>

    
    
        
        <div class="container">
            
            <div class="box-center">
                <nav >
                    <div class="logo">
                        <h4>HEALTH IS FUN</h4>
                    </div>
                    <ul class="nav-links">
                        <li><a href="{{url_for('home')}}">HOME</a></li>
                        <li><a href="{{url_for('check')}}">CHECK BMI</a></li>
                        <li><a href="{{url_for('food')}}">FOOD</a></li>
                        <li><a href="{{url_for('exercise_page1')}}">EXERCISE</a></li>
                        <li><a href="#">#</a></li>
                    </ul>
                    <div class="burger">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                        
                    </div>
                </nav>

            <div class="exercise">
                <h1 class="title-exercise">🦾ท่าออกกำลังกายกล้ามเนื้อต้นแขน🦾</h1>
                <h1 class="title-exercise">💪Exercise forearm muscles💪</h1>
                <br>
                <br>
                <img src="/static/images/exercise_ต้นเเขน.jpg" alt="title" width="100%">
                <h4 style="margin: 2% 0 2% 0%;"> ท่าออกกำลังกายกล้ามเนื้อต้นเเขนนอกจากจะลดไขมันเเล้วยังชวยทำให้กล้ามเนื้อเเข็งเเรงเเละมีรูปทรงที่สวยงาม
                    ช่วยป้องกันการบาดเจ็บจากการออกกำลังกายหรือทำกิจกรรมต่างๆ
                    
                </h4>
                <hr>
                <br>


            <iframe src="https://www.youtube.com/embed/IODxDxX7oi4" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Push Up</h3>
                <p>คว่ำมือทั้งสองข้างลงบนพื้นประมาณหัวไหล่เหยียดแขนจนตึง ถอยเท้าออกไปด้านหลังจนลำตัวช่วงล่างกับช่วงบนเป็นแนวเส้นตรง 
                    วางเท้าทั้งสองข้างห่างกันด้วยความกว้างประมาณหัวไหล่ เป็นท่าเตรียมฝึกท่า Push Up จากนั้น 
                    งอแขนเพื่อลดลำตัวลงจนหน้าอกเกือบจะแตะกับพื้น จากนั้นเริ่มออกแรงเกร็ง กล้ามเนื้อหน้าอกเพื่อดันลำตัวขึ้น 
                    เพื่อกลับสู่ท่าเตรียม ทำเช่นนี้ 25 ครั้ง ใน 3 เซ็ท
                <p>
                            ⚫ set ที่1 ทำ 8 ครั้ง พัก 60 วินาที
                    <br>    ⚫ set ที่2 ทำ 8 ครั้ง พัก 60 วินาที
                    <br>    ⚫ set ที่3 ทำ 9 ครั้ง พัก 90 วินาที 
                    <br>    เมื่อเริ่มทำได้เเล้วให้ลองเพิ่มจำนวนครั้งเเละลดเวลาในการพักจะทำให้กล้ามเนื้อพัฒนาได้ดียิ่งขึ้น
                    <br>    ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละมีอุปกรณ์รองรับน้ำหนักเพื่อป้องกันการบาดเจ็บ
                </p>
                </p>
            
                
            <hr>
            <br>
            <br>

            <iframe src="https://www.youtube.com/embed/HT4G-uWcVcc" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <h3>Pike Push-Up</h3>
                <p>
                    เริ่มต้นด้วยการจัดระเบียบร่างกายคล้ายท่า Push-up แต่ให้ค่อยๆ ยกสะโพกขึ้นให้สูงโด่ แขนวางแนบเหยียดตรงประมาณบ่า 
                    คล้ายรูปตัว v คว่ำ จากนั้นค่อยๆ โน้มศรีษะลงแตะพื้นงอแขนทั้งสองข้างพร้อมดันลำตัวลงช้าๆ จากนั้นค่อยๆ ยกตัวขึ้นดังท่าเริ่มต้น 
                    ลงโดยโฟกัสการใช้แรงไปที่แขนทั้งสองข้าง ช่วยให้กล้ามเนื้อหัวไหล่ใหญ่ขึ้น ทำ 15 ครั้ง 3 เซ็ท
                </p>
                <p>
                      ⚫ set ที่1 ทำ 5 ครั้ง พัก 60 วินาที
                <br>  ⚫ set ที่2 ทำ 5 ครั้ง พัก 60 วินาที
                <br>  ⚫ set ที่3 ทำ 5 ครั้ง พัก 90 วินาที 
                <br>    เมื่อเริ่มทำได้เเล้วให้ลองเพิ่มจำนวนครั้งเเละลดเวลาในการพักจะทำให้กล้ามเนื้อพัฒนาได้ดียิ่งขึ้น
                <br>    ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละมีอุปกรณ์รองรับน้ำหนักเพื่อป้องกันการบาดเจ็บ
                </p>
        
                

            <hr>
            <br>
            <br>

            <iframe src="https://www.youtube.com/embed/OlpPaGyywyY" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <h3>Rengegade Rows</h3>
            <p>จัดท่าเตรียมคล้ายท่า Push-up แต่มือทั้งสองข้างถือดัมเบลไว้ยืด แขนตรงเมื่อพร้อมแล้วให้ดึงดัมเบลล์ข้างใดข้างหนึ่งประมาณลำตัว 
                ค้างไว้ 2 วิ แล้วยกแขนลง จากนั้นทำเช่นนี้กับแขนอีกข้างหนึ่งโดยสลับข้างกัน ทำ 10 ครั้ง 3 เซ็ท 
                โดยท่านี้จะช่วยให้กล้ามเนื้อส่วนแขน หัวไหล่ และขา รวมถึงเอ็นร้อยหวายแข็งแรงมากยิ่งขึ้น
                <br>*ผู้เริ่มต้นใหม่ควรใช้ดัมเบลล์ในน้ำหนักที่ไม่เยอะจนเกินไป
            </p>

            <p>
                  ⚫ set ที่1 ทำ 4 ครั้ง พัก 60 วินาที
            <br>  ⚫ set ที่2 ทำ 3 ครั้ง พัก 60 วินาที
            <br>  ⚫ set ที่3 ทำ 3 ครั้ง พัก 90 วินาที 
            <br>    เมื่อเริ่มทำได้เเล้วให้ลองเพิ่มจำนวนครั้งเเละลดเวลาในการพักจะทำให้กล้ามเนื้อพัฒนาได้ดียิ่งขึ้น
            <br>    ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละควรตรวจความพร้อมของอุปกรณ์เพื่อป้องกันการบาดเจ็บ
            </p>

            <hr>
            <br>
            <br>

            <iframe src="https://www.youtube.com/embed/FeJP4E4Z-PY" title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
             allowfullscreen></iframe>
            <h3>Lateral Raise</h3>
            <p>ยืนตรงโดยเท้าทั้งสองแยกจากกันเล็กน้อย ให้ได้ความกว้างประมาณช่วงไหล่ โดยสองแขนแนบลำตัว 
                ถือดัมเบลล์เอาไว้ข้างละหนึ่งอัน ยกแขนขึ้นช้าๆ พร้อมดัมเบลล์ พร้อมกันทั้งสองข้าง ลำตัวตั้งตรง 
                ยกขึ้นมนจนแขนทำมุมขนานกับพื้น คางไว้สักระยะสั้นๆ ลดดัมเบลลงจบ 1 ครั้ง โดยทำเช่นนี้ 15 ครั้ง 3 เซ็ท
            <br>*ผู้เริ่มต้นใหม่ควรใช้ดัมเบลล์ในน้ำหนักที่ไม่เยอะจนเกินไป</p>

            <p>
                  ⚫ set ที่1 ทำ 5 ครั้ง พัก 60 วินาที
            <br>  ⚫ set ที่2 ทำ 5 ครั้ง พัก 60 วินาที
            <br>  ⚫ set ที่3 ทำ 5 ครั้ง พัก 90 วินาที 
            <br>    เมื่อเริ่มทำได้เเล้วให้ลองเพิ่มจำนวนครั้งเเละลดเวลาในการพักจะทำให้กล้ามเนื้อพัฒนาได้ดียิ่งขึ้น
            <br>    ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละควรตรวจความพร้อมของอุปกรณ์เพื่อป้องกันการบาดเจ็บ
            </p>

            
             <hr>
             <br>
             <br>

             <iframe src="https://www.youtube.com/embed/rigzbHWbllM" 
             title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
             clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3>Chin-up</h3>
            <p>เริ่มด้วยการจับบาร์โหนด้วยตำแหน่งมือกว้างเท่าหัวไหล่ หันฝ่ามือเข้าหาลำตัว จากนั้นก็ยกตัวสูงขึ้นให้คางพ้นบาร์ 
            แล้วค่อยๆ หย่อนตัวลงมา ทำซ้ำให้ได้ 10 ครั้ง </p>

            <p>   ผู้เริ่มต้นใหม่อาจทำเท่าที่ร่างกายทำได้
            <br>  ⚫ set ที่1 ทำ 8-10 ครั้ง พัก 60 วินาที
            <br>  ⚫ set ที่2 ทำ 8-10 ครั้ง พัก 60 วินาที
            <br>  ⚫ set ที่3 ทำ 8-10 ครั้ง พัก 90 วินาที 
            <br>    เมื่อเริ่มทำได้เเล้วให้ลองเพิ่มจำนวนครั้งเเละลดเวลาในการพักจะทำให้กล้ามเนื้อพัฒนาได้ดียิ่งขึ้น
            <br>    ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละควรตรวจความพร้อมของอุปกรณ์เพื่อป้องกันการบาดเจ็บ
            </p>

          
            <hr>
            
            <p>#แหล่งอ้างอิงข้อมูล www.mmchic-th.com/fashionwear/th/article/Chest--Shoulder-exercises</p>
            </div>
            
            

        <div class="end-ex">
                <a href="{{url_for('exercise_page1')}}" class="btn btn-primary" role="button" toggle="button">กลับสู่หน้าหลัก</a>
        </div>
        </div>
        
        <div style="height: 10%;">

        </div>
       
    </div>
</body>
</html>