<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/exercise.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>กล้ามเนื้อหน้าท้อง</title>
</head>
<body>

    <div class="box-center">
        <nav >
            <div class="logo">
                <h4>HEALTH IS FUN</h4>
            </div>
            <ul class="nav-links">
                <li><a href="{{url_for('home')}}">HOME</a></li>
                <li><a href="{{url_for('check')}}">CHECK BMI</a></li>
                <li><a href="{{url_for('food')}}">FOOD</a></li>
                <li><a href="{{url_for('exercise_page1')}}">EXERCISE</a></li>
                <li><a href="#">#</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                
            </div>
        </nav>
    
        
        <div class="container">
            
            

            <div class="exercise">
                <h1 class="title-exercise">🧘‍♀️ท่าออกกำลังกายกล้ามเนื้อหลัง🧘‍♀️</h1>
                <h1 class="title-exercise">🧘Back muscle exercise🧘</h1>
                <br>
                <br>
                <img src="/static/images/หลัง3.jpg" alt="title" width="100%">
                <h4 style="margin: 2% 0 2% 0%;"> กล้ามเนื้อหลังคือกล้ามเนื้อส่วนของลำตัวถ้าหากกล้ามเนื้อหลังไม่เเข็งเเรง
                    จะทำให้หลังง้อเเละเสี่ยงต่อการปวดหลังเเละหมอนลองกระดูก การออกกำลังกายบริหารกล้ามเนื้อหลังจะทำให้บุคลิกการนั่งหรือเดินเราดูสวยงามขึ้น
                    
                </h4>
                <hr>
                <br>


                <iframe width="560" height="315" src="https://www.youtube.com/embed/3YvfRx31xDE" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                 clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h3>Pull-up(ใช้อุปกรณ์)</h3>
                <p>เริ่มด้วยการจับบาร์โหนด้วยตำแหน่งมือกว้างเท่าหัวไหล่หันฝ่ามือเข้าหาลำตัว จากนั้นก็ยกตัวสูงขึ้นให้คางพ้นบาร์ 
                    แล้วค่อยๆ หย่อนตัวลงมา ทำซ้ำให้ได้ 5-10 ครั้ง หรือผู้เริ่มต้นใหม่อาจทำเท่าที่ร่างกายทำได้ ทั้งหมด 3 เซต
                <p>         
                            ⚫ set ที่1 ทำซ้ำ 5-10 ครั้ง หรือผู้เริ่มต้นใหม่อาจทำเท่าที่ร่างกายทำได้ พัก 40 วินาที
                    <br>    ⚫ set ที่2 ทำซ้ำ 5-10 ครั้ง หรือผู้เริ่มต้นใหม่อาจทำเท่าที่ร่างกายทำได้ พัก 40 วินาที
                    <br>    ⚫ set ที่3 ทำซ้ำ 5-10 ครั้ง หรือผู้เริ่มต้นใหม่อาจทำเท่าที่ร่างกายทำได้ ครั้ง พัก 60 วินาที 
                    <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละควรตรวจสอบอุปกรณ์ให้พร้อมเพื่อป้องกันการบาดเจ็บ
                </p>
                </p>
            
                
            <hr>
            <br>
            <br>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/2tnATDflg4o" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3> Back extension(ใช้อุปกรณ์)</h3>
            <p> เริ่มต้นจากการนอนลงบนเบาะที่มีเบาะ โดยยันขาทั้งสองข้างติดพื้นใต้ที่ล็อกข้อเท้า ให้ลำตัวช่วงสะโพกวางเหนือเบาะเป็นแนวเส้นตรง ใช้มือทั้งสองข้างพาดไขว้ระหว่างอก
                 จากนั้นค่อยๆลดลำตัวช่วงบนลงจนสุด จากนั้นค่อยๆออกแรงเกร็งกล้ามเนื้อหลังล่าง เพื่อยกลำตัวขึ้นดังเดิม ทำเช่นนี้จนครบ 10 ครั้ง 3 เซ็ท 
                
            <p>
                        ⚫ set ที่1 ทำ 10 ครั้งหรือมากว่า พัก 30 วินาที
                <br>    ⚫ set ที่2 ทำ 10 ครั้งหรือมากว่า พัก 30 วินาที
                <br>    ⚫ set ที่3 ทำ 10 ครั้งหรือมากว่า พัก 60 วินาที 
                <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละมีอุปกรณ์รองรับน้ำหนักเพื่อป้องกันการบาดเจ็บ
            </p>
            </p>
        
            
        <hr>
        <br>
        <br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/-koP10y1qZI" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Dumbbell Row (ใช้อุปกรณ์)</h3>
            <p>เริ่มต้นจากการวางเข่าข้างที่ตรงข้ามกับฝั่งที่ต้องการจะฝึกไว้บนเบาะ จากนั้น โน้มลำตัวลงไปด้านหน้า โดยใช้มือฝั่งเดียวกับหัวเข่าที่วางไว้บนเบาะ ค้ำยันลำตัวเอาไว้ 
                ปล่อยแขนฝั่งที่ต้องการจะฝึกลงตามธรรมชาติ ถือดัมเบลในลักษณะหันฝ่ามือเข้าหาลำตัว 
                เริ่มต้นจากการสูดลมหายใจเข้าจนสุด จากนั้นออกแรงเกร็งกล้ามเนื้อหลัง เพื่อดึงดัมเบลขึ้นจนสุด 
                โดยพยายามบีบมุมของข้อศอกเข้าหาลำตัวขณะเคลื่อนที่ จากนั้นค่อยๆ คลายกล้ามเนื้อหลังออก ลดดัมเบลลง เพื่อกลับสู่ท่าเตรียม ทำข้างละ 10 ครั้ง 3 เซ็ท 
                
            <p>
                        ⚫ set ที่1 ทำ 10 ครั้ง พัก 1 นาที
                <br>    ⚫ set ที่2 ทำ 10 ครั้ง พัก 1 นาที
                <br>    ⚫ set ที่3 ทำ 10 ครั้ง พัก 1 นาที 
                <br>    *ผู้เริ่มต้นควรเริ่มที่น้ำหนักเบา
                <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละควรตรวจสอบอุปกรณ์ให้พร้อมเพื่อป้องกันการบาดเจ็บ
            </p>
            </p>
        
            
        <hr>
        <br>
        <br>

            
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Fsc86d_JIXI" title="YouTube video player" frameborder="0"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Dumbbell Upright Row(ใช้อุปกรณ์)</h3>
            <p>ขั้นแรกใช้มือจับดัมเบลแบบคว่ำมือ ไว้บริเวณหน้าต้นขา ระยะแคบกว่าไหล่ งอข้อศอกเล็กน้อย ลำตัวตรง 
                จากนั้นค่อยๆยกไหล่ แทงศอกออกด้านข้างลากดัมเบลขึ้นในแนวดิ่งแนบลำตัว โฟกัสที่กล้ามเนื้อหลังและบ่าดึงขึ้นมาจนใกล้ปลายคาง
                 ค้างไว้ 2 วินาที แล้วลดดัมเบลลงช้าๆ กลับทิศทางเดิมสู่ท่าเริ่มต้น จากนั้นทำซ้ำๆ จนครบ 10 ครั้ง 3 เซ็ท
            <p>
                        ⚫ set ที่1 10 ครั้ง พัก 1 นาที
                <br>    ⚫ set ที่2 10 ครั้ง พัก 1 นาที
                <br>    ⚫ set ที่3 10 ครั้ง พัก 2 นาที 
                <br>    *ผู้เริ่มต้นควรเริ่มที่น้ำหนักเบา
                <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละควรตรวจสอบอุปกรณ์ให้พร้อมเพื่อป้องกันการบาดเจ็บ
            </p>
            </p>
          
            <hr>
            <br>
            

          
            <p>#แหล่งอ้างอิงข้อมูล https://www.mmchic-th.com/fashionwear/th/article/6-Back-Workout , https://fitnessinw.com </p>
        </div>
            
            
        
        <div class="end-ex">
                <a href="{{url_for('exercise_page1')}}" class="btn btn-primary" role="button" toggle="button">กลับสู่หน้าหลัก</a>
        </div>
    </div>
        
        <div style="height: 10%;">

        </div>
       
    </div>
</body>
</html>