<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/exercise.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

     <link rel="stylesheet" href="/static/css-file/home_footer  exercise.css">
     <link rel="stylesheet" href="/static/css-file/menubar exercise.css">
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@500&display=swap" rel="stylesheet">
     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>ออกกำลังกายเเบบคาร์ดิโอ</title>

    <style>
        .run-a {
            font-weight: 700;
            color: blueviolet;
            text-decoration: none;
        }
    </style>
</head>
<body>

    <nav>
        <div class="logo">HEALTH IS FUN</div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
           <i class="fas fa-bars"></i>
         </label>
         <ul>
           <li><a href="{{url_for('home')}}">Home</a></li>
           <li><a href="{{url_for('check')}}">CHECK BMI</a></li>
           <li><a href="{{url_for('food')}}">FOOD</a></li>
           <li><a href="{{url_for('exercise_page1')}}" class="active">EXERCISE</a></li>
           
         </ul>
      </nav>

    <div class="box-center">
        
        <div class="container">
            
            

            <div class="exercise">
                <h1 class="title-exercise">🧘‍♂️ท่าออกกำลังกายเเบบแบบโยคะ🧘‍♂️</h1>
                <h1 class="title-exercise">🧘‍♂️YOGA🧘‍♂️</h1>
                <br>
                <br>
                <img src="/static/images/YOGA1.jpg" alt="title" width="100%">
                <h4 style="margin: 2% 0 2% 0%;"> การออกกำลังกายเเบบโยคะเป็นการยึดกล้ามเนื้อทุกส่วนของร่างกายทำให้การทำงานของกล้ามเนื้อมีความยืดหยุ่น
                  ไม่ตึงเกินไปช่วยลดการบาดเจ็บจาการขยับกล้ามเนื้อหนักๆ
                    
                </h4>
                <hr>
                <br>



                <iframe width="560" height="315" src="https://www.youtube.com/embed/EC7RGJ975iM" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Downward Facing Dog</h3>
            <p>ท่าสุนัขก้มหน้า โดยเริ่มจากท่าคลาน วางเข่าทั้ง 2 ข้างและมือวางบนพื้น โดยให้เข่ากว้างเท่าช่วงสะโพก และให้เข่าอยู่แนวเดียวกับสะโพก 
              มือทั้งสองข้างวางกว้างเท่าช่วงไหล่ กางนิ้วให้กว้าง หลังตรง ไม่เกร็งไหล่ จากนั้นหายใจออก ดันเข่ายกขึ้นทั้ง 2 ข้าง ทำให้ร่างกายอยู่ในรูปตัว V กลับหัว แขนและขาเหยียดตรง พยายามกดส้นเท้าให้ติดพื้น 
              หากรู้สึกว่าขาตึงเกินไป สามารถงอเข่าได้เล็กน้อย ไม่ยกและเกร็งไหล่ ค้างท่าไว้ประมาณ 3 ลมหายใจเข้าออก
            
        
            <p> ⚫ ทำค้างไว้ 20-30 วินาที 
        <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละควรมีอุปกรณืรับน้ำหนักเพื่อป้องกันการบาดเจ็บ</p>
    </p>
        <hr>
        <br>
        <br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/RjHH2er8DkM" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h3>Warrior Pose</h3>
                <p>สามารถทำต่อจากท่า Downward Facing Dog ได้เลย โดยหายใจเข้า ก้าวเท้าขวาไปด้านหน้า วางเท้าขวาระหว่างมือ 
                  โดยงอเข่าด้านขวา และขาซ้ายเหยียดตรง จากนั้น ถ่ายน้ำหนักไปที่เท้าทั้งสองข้างให้เท่ากัน
                  จากนั้นยกตัวขึ้น โดยงอเข่าขวาเป็นมุมฉาก และยกแขนทั้งสองข้างขึ้น ค้างในท่านี้ 
                  ไว้ประมาณ 30-60 วินาที แล้วกลับไปสู่ท่า Downward Facing Dog แล้วจึงค่อยสลับทำอีกข้าง
                <p>         
                    <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละมีอุปกรณ์รองรับน้ำหนักเพื่อป้องกันการบาดเจ็บ
                </p>
                </p>
            
                
            <hr>
            <br>
            <br>

          <iframe width="560" height="315" src="https://www.youtube.com/embed/Fr5kiIygm0c" title="YouTube video player" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Tree Pose</h3>
            <p> ท่าต้นไม้ เริ่มต้นด้วยการยืนตรง ขาชิดกัน แขนแนบข้างลำตัว และให้ถ่ายน้ำหนักไปที่ขาข้างซ้าย จากนั้นยกขาขวาขึ้นและใช้มือจับข้อเท้ามาวางไว้ที่ต้นขาด้านในของขาซ้าย 
              เมื่อร่างกายอยู่ในจุดที่สมดุลแล้วให้ทำการประกบฝ่ามือเข้าด้วยกัน หายใจเข้าและยืดแขนเหยียดตรงขึ้นด้านบน
                
            <p>
                        ⚫ ค้างท่าไว้ 30-60 วินาที แล้วจึงค่อยลดมือลงและเปลี่ยนมาทำขาอีกข้าง
                <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละมีอุปกรณ์รองรับน้ำหนักเพื่อป้องกันการบาดเจ็บ
            </p>
            </p>
        
            
        <hr>
        <br>
        <br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/_1124fj0BeQ" title="YouTube video player" frameborder="0"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Triangle Pose</h3>
            <p>ท่าตรีโกณ เริ่มจากยืนตรง จากนั้นกางขากว้างออกด้านข้าง ให้ขากว้างกว่าช่วงสะโพก โดยให้ปลายเท้าด้านขวาชี้ออกทางด้านข้าง และปลายเท้าซ้ายชี้ไปด้านหน้า หายใจเข้า กางแขนทั้งสองข้างออกด้านข้างขนานกับพื้น 
              ให้ความสูงอยู่แนวเดียวกับหัวไหล่ หายใจออก พร้อมกับค่อยๆ เอนตัวทางด้านขวาลงไปหาเท้าขวา และใช้มือขวาวางลงบนพื้นใกล้ๆ ฝ่าเท้า
                
            <p>
                        ⚫ ค้างไว้ 5-10 ลมหายใจเข้าออก กลับมายืนตรงในท่าเดิมและสลับทำอีกข้าง
                <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละมีอุปกรณ์รองรับน้ำหนักเพื่อป้องกันการบาดเจ็บ
            </p>
            </p>
        
            
        <hr>
        <br>
        <br>

            
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jwoTJNgh8BY" title="YouTube video player" frameborder="0"
         allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Cobra Pose</h3>
            <p>เริ่มต้นท่าด้วยการนอนคว่ำ โดยที่ใบหน้าราบลงไปบนพื้น จากนั้นให้วางฝ่ามือข้างหน้าอกทั้งสองข้าง ส่วนขาให้ยืดตรงไปด้านหลัง คว่ำหลังเท้าแนบลงกับพื้น
              หายใจเข้า ใช้แขนดันตัวขึ้นจนลำตัวด้านบนไม่สัมผัสพื้น โดยไม่ให้มีอาการปวดหลัง เงยหน้าขึ้นด้านบนเล็กน้อย สามารถงอศอกไว้ได้เล็กน้อย
               ระหว่างทำไม่ควรยกไหล่ ให้กดไหล่ลงให้ห่างจากหู
               
            <p>
                        ⚫  ค้างไว้ 15-30 วินาที ระหว่างค้างท่าให้หายใจเข้าออกตลอดเวลา คลายท่ากลับไปท่าคว่ำเหมือนเดิม จากนั้นทําซ้ำ
                <br>    *ข้อควรระวัง ควรอบอุ่นร่างกายให้พร้อมเเละมีอุปกรณ์รองรับน้ำหนักเพื่อป้องกันการบาดเจ็บ
            </p>
            </p>
            <hr>
            <br>
            

          
            <p>#แหล่งอ้างอิงข้อมูล https://www.fitmesport.com/basic-yoga-poses/    http://www.paulanealmooney.com/archives/559</p>
        </div>
            
            
        
        <div class="end-ex">
                <a href="{{url_for('exercise_page1')}}" class="btn btn-primary" role="button" toggle="button">กลับสู่หน้าหลัก</a>
        </div>
    </div>
        
        <div style="height: 10%;">

        </div>
       
    </div>
</body>
</html>