<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/exercise.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

     <link rel="stylesheet" href="/static/css-file/home_footer  exercise.css">
     <link rel="stylesheet" href="/static/css-file/menubar exercise.css">
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@500&display=swap" rel="stylesheet">
     <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>ออกกำลังกายเเบบคาร์ดิโอ</title>

    <style>
        .run-a {
            font-weight: 700;
            color: blueviolet;
            text-decoration: none;
        }
    </style>
</head>
<body>

    <nav>
        <div class="logo">HEALTH IS FUN</div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
           <i class="fas fa-bars"></i>
         </label>
         <ul>
           <li><a href="{{url_for('home')}}">Home</a></li>
           <li><a href="{{url_for('check')}}">CHECK BMI</a></li>
           <li><a href="{{url_for('food')}}">FOOD</a></li>
           <li><a href="{{url_for('exercise_page1')}}" class="active">EXERCISE</a></li>
           
         </ul>
      </nav>

    <div class="box-center">
        
        <div class="container">
            
            

            <div class="exercise">
                <h1 class="title-exercise">🧘‍♂️ท่าว่ายน้ำ🧘‍♂️</h1>
                <h1 class="title-exercise">🧘‍♂️Swimming🧘‍♂️</h1>
                <br>
                <br>
                <img src="/static/images/Swimming2.jpg" alt="title" width="100%">
                <h4 style="margin: 2% 0 2% 0%;"> การว่ายน้ำเป็นการออกกำลังกายเเบบคาร์ดิโอที่ต้องขยับทุกส่วนของร่างกาย
                    เเละใช้พลังงานค่อนข้างมาก การว่ายน้ำ 30 นาที เท่ากับการวิ่งบนลู่วิ่ง 1 ชั่วโมง นอกจากนี้เเล้วการลงไปว่ายน้ำจะทำให้ปอดของคุณขยายตัว
                    ทำให้ได้ออกกำลังปอดไปในตัวด้วย
                </h4>
                <hr>
                <br>



                <iframe width="560" height="315" src="https://www.youtube.com/embed/AQy_c30lNjI" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Swim Freestyle </h3>
            <p>ต้นท่าแรกเริ่มพื้นฐานสำหรับคนที่หักเรียนว่ายน้ำเป็นครั้งแรก หลักการของการว่ายน้ำท่านี้คือการเคลื่อนไหวร่างกายอย่างไรก็ได้ให้สามารถเคลื่อนที่ไปในน้ำได้อย่างรวดเร็วมากที่สุด
                 ส่วนใหญ่แล้วจะมีท่ามาตรฐานนั่นก็คือการใช้เท้าเตะน้ำ 
                 โดยเท้านั้นจะต้องอยู่ปริ่มผิวน้ำไม่ลอยขึ้นสูงจนเกินไปจนทำให้น้ำกระจายเป็นวงกว้างหรือจมลงไปในน้ำมากเกินไปจนทำให้เคลื่อนไหวได้ช้า
                 ส่วนของแขนนั้นจะเริ่มจากการเหยียดแขนตรงนิ้วมือเรียงประสานกันวาดแขนขึ้นแล้วยกข้อศอก จากนั้นก็นำมือลงสู่ใต้น้ำกลับสู่ระนาบเดียวกับน้ำอีกครั้ง 
                 ทำสลับข้างไปเรื่อยๆ หากต้องการที่จะหายใจให้เงยหน้าขึ้นหายใจเข้าในขณะที่วาดแขนขวาขึ้นแล้วสูดหายใจพร้อมกับก้มหน้าลงไปในขณะเดียวกันที่นำมือลง
    </p>
        <hr>
        <br>
        <br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/5Mhy4XsID_w" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h3>Butterfly Arm Action</h3>
                <p> เมื่อแขนคุณอยู่ข้างหน้า ให้กดมือลงพร้อมกับกวาดออกไปด้านข้างเล็กน้อย
                     งอข้อศอกพร้อมทั้งดันมือผ่านใต้ลำตัว
                     ดันน้ำจนแขนผ่านบริเวณต้นขา
                     ยกแขนขึ้นให้ศอกและมือพ้นจากน้ำ
                    วางแขนกลับไปด้านหน้าโดยให้แขนมีความกว้างเท่าช่วงไหล่
                <p>         

                </p>
                </p>
            
                
            <hr>
            <br>
            <br>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/9g9maSiKMcM" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>Breaststroke Arm Action</h3>
            <p> เป็นอีกหนึ่งถ้าว่ายน้ำที่มีความง่ายหากสามารถว่ายท่าฟรีสไตล์ได้แล้ว ลักษณะการว่ายน้ำจะเลียนแบบการเคลื่อนไหวของกบนั่นก็คือการวาดมือทั้งสองข้างกดลงน้ำพร้อมๆ กันประมาณ 50 องศา 
                ส่วนของขานั้นทำเลียนแบบขาของกบนั่นก็คือการวาดขาเข้าออกเพื่อให้เกิดแรงดันน้ำส่งให้เราเคลื่อนตัวไปข้างหน้า
                
            <p>
            </p>
            </p>
        
            
        <hr>
        <br>
        <br>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/MrFt6JHii8w" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h3>backstroke</h3>
            <p>เป็นท่าว่ายน้ำมาตรฐานท่าเดียวที่ผู้ว่ายจะได้เงยหน้าดังนั้นจึงเป็นท่าที่ไม่สร้างปัญหาในการหายใจมากที่สุด 
                วิธีการคือนอนหงายตัวลงบนน้ำจากนั้นยืดแขนชิดใบหูกดลงไปในน้ำขายกับท่าฟรีสไตล์แบบหงายหลัง 
                เท้าตีน้ำเล็กน้อยไม่โผล่ขึ้นเหนือน้ำจนเกินไปและไม่จมอยู่ใต้น้ำ
                
            <p>
            </p>
            </p>
        
            
        <hr>
        <br>

            <p>#แหล่งอ้างอิงข้อมูล https://www.fitnessth.com/</p>
        </div>
            
            
        
        <div class="end-ex">
                <a href="{{url_for('exercise_page1')}}" class="btn btn-primary" role="button" toggle="button">กลับสู่หน้าหลัก</a>
        </div>
    </div>
        
        <div style="height: 10%;">

        </div>
       
    </div>
</body>
</html>