<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/home.css">
    <link rel="stylesheet" href="/static/css-file/login_home.css">
    <link rel="stylesheet" href="/static/css-file/menubar.css">
    <meta name="description" content="memihtml"> 
    <meta name="author" content="wichaiBIG">
    <meta name="keywords" content="big html">
    <link rel="stylesheet" href="/static/css-file/home_footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>home</title>
</head>
<body>
    <nav>
        <div class="logo">HEALTH IS FUN</div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
           <i class="fas fa-bars"></i>
         </label>
         <ul>
           <li><a href="{{url_for('home')}}" class="active">Home</a></li>
           <li><a href="{{url_for('check')}}">CHECK BMI</a></li>
           <li><a href="{{url_for('food')}}">FOOD</a></li>
           <li><a href="{{url_for('exercise_page1')}}">EXERCISE</a></li>
           <li><a href="#">#</a></li>
         </ul>
      </nav>

      
    <div class="flexbox">
        <div class="flex-container">
            <div class="about-box">

                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/static/images/Sour Banked Salmon2.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                          <p>Some representative placeholder content for the first slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="/static/images/ออกกำลังคา3.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Second slide label</h5>
                          <p>Some representative placeholder content for the second slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="/static/images/exercise_test.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Some representative placeholder content for the third slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="/static/images/exercise_test.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Some representative placeholder content for the third slide.</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>





            </div>
            
        </div>
    </div>
            <!-- end -->
     
        <script src="/static/app.js"></script>
        <!-- ทำต่อ -->
        <!-- เกี่ยวกับเรา -->
        <section class="main_info1">
          <div class="container">
            <div class="main_info1_area">
              <img src="" alt="">
              <div class="main_info1_text">
                <h1>เว็บไซต์นี้คืออะไร</h1>
                <p>เว็บไซต์นี้นั้นมีไว้เพื่อใช้ตรวจสอบค่า BMI(Body Mass Index) หรือเรียกอีกอย่างว่า "ค่าดัชนีมวลกาย" เพื่อใช้ประเมินภาวะอ้วนผอมในผู้ใหญ่ตั้งเเต่อายุ 20 ปีขึ้นไป</p>
              </div>
            </div>
          </div>
        </section>
    
        <section class="main_info2">
          <div class="container">
            <div class="main_info2_area">
              <img src="" alt="">
              <div class="main_info2_text">
                <h1>การเข้าเยี่ยมชมเว็บไซต์นี้ให้ประโยชน์อะไร</h1>
                <p>นอกจากจะสามารถใช้วัดค่าดัชนีมวลกายเเล้ว เว็บไซต์ของเรายังเเนะนำอาหารเเละการออกกำลังกายที่เหมาะสมกับค่าBMIที่ออกมาได้อีกด้วย</p>
              </div>
            </div>
          </div>
        </section>

        <section class="main_info3">
          <div class="container">
            <div class="main_info3_area">
              <img src="" alt="">
              <div class="main_info3_text">
                <h1>เกี่ยวกับคณะผู้จัดทำ</h1>
                <p>คณะผู้จัดทำนั้นเป็นนักศึกษาชั้นปีที่ 1 ในมหาวิทยาลัยเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง เเละได้ทำเว็บไซต์นี้เพื่อเป็น Project ส่งอาจารย์ อีกทั้งสมาชิกในกลุ่มมีความสนใจในด้านอาหารเเละสุขภาพจึงตกลงกันสร้างเว็บไซต์นี้ขึ้นมา</p>
              </div>
            </div>
          </div>
        </section>

        <!-- สมาชิกกลุ่ม -->>
        <section class="info1">
      <div class="container">
        <div class="info1_area">
          <img src="/static/image/avatar1.png" alt="">
          <div class="info1_text">
            <h1>นายพงศ์พันธุ์ แสงพล</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="info2">
      <div class="container">
        <div class="info2_area">
          <img src="/static/image/avatar2.png" alt="">
          <div class="info2_text">
            <h1>วิชัย คำมงคุณ</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="info3">
      <div class="container">
        <div class="info3_area">
          <img src="/static/image/avatar3.png" alt="">
          <div class="info3_text">
            <h1>ปราโมทย์ จันทโสก</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="info4">
      <div class="container">
        <div class="info4_area">
          <img src="/static/image/avatar4.png" alt="">
          <div class="info4_text">
            <h1>ธนกร เผ่าพนัส</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="info5">
      <div class="container">
        <div class="info5_area">
          <img src="/static/image/avatar5.png" alt="">
          <div class="info5_text">
            <h1>รัชชานนท์ กาทิพย์</h1>
          </div>
        </div>
      </div>
    </section>



</body>
</html>
