<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/check_bmi.css">
    <link rel="stylesheet" href="/static/css-file/home_footer.css">
    <link rel="stylesheet" href="/static/css-file/menubar.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Check BMI</title>

    <script type="text/javascript">
        function submitClick() {
            frm_test.submit(); // submit form ด้วย Javascript
        };
        function doSubmit(form) {
            alert(form.test.value);
        };
        </script>
</head>
<body>
    <nav>
        <div class="logo">HEALTH IS FUN</div>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
           <i class="fas fa-bars"></i>
         </label>
         <ul>
           <li><a href="{{url_for('home')}}">Home</a></li>
           <li><a href="{{url_for('check')}}" class="active">CHECK BMI</a></li>
           <li><a href="{{url_for('food')}}">FOOD</a></li>
           <li><a href="{{url_for('exercise_page1')}}">EXERCISE</a></li>
           <li><a href="#">#</a></li>
         </ul>
      </nav>
        
    <div class="flexbox">
        <div class="container">
            <div class="row">

                <div class="col1">
                    <img src="/static/images/EAcmpB8UYAI6G2X.jpg" class="-img">
                    <div class="col1-2">
                        <h1 class="thaifont">คำนวนหาค่า BMI ของคุณได้ที่นี้</h1>
                        <form class="from-box" action="/check_bmi" method="POST">
                            <input class="thaifont" type="number" name="input-1" placeholder="น้ำหนัก(กิโลกรัม)">
                            <input class="thaifont" type="number" name="input-2" placeholder="ส่วนสูง(เซนติเมตร)">
                            <button type="submit" class="btn-submit thaifont" onclick="submitClick()">คำนวน</button>
                        </form>
                    </div>
                    <div class="col1-3">
                        <p1 class="thaifont">BMI</p1>
                        <p2 class="thaifont">ของคุณคือ</p2>
                        {%if show_bmi%}
                        <h5 class="p-bmi">{{show_bmi}}</h5>
                        {%endif%}
                        {%if message%}
                        <h6 class="p-check thaifont">{{message}}</h6>
                        {%endif%}
                        <form action="/check_bmi" method="POST" class="reset-form">
                            <button type="submit" name="reset" onclick="submitClick()">🔄</button>
                        </form>
                    </div>
                </div>
                
                <div class="col2 thaifont">
                    <p class="thaifont">การคำนวณค่าดัชนีมวลกาย นอกจากเราได้ทราบถึงรูปร่างและสัดส่วนแล้ว 
                    <br>ยังทำให้เราทราบถึงความเสี่ยงการเกิดโรคต่างๆ ค่าดัชนีมวลกาย Body Mass Index
                    <br>หรือเรียกย่อ ๆ ว่า BMI คือ ตัวชี้วัดมาตรฐานเพื่อประเมินสภาวะของร่างกาย 
                    <br>ว่ามีความสมดุลของน้ำหนักตัวต่อส่วนสูงอยู่ในเกณฑ์ที่เหมาะสมหรือไม่
                    <br>ในกรณีที่มีค่าดัชนีมวลกายสูง และถูกวินิจฉัยว่ามีภาวะน้ำหนักเกินหรือเป็นโรคอ้วน 
                    <br>ก็อาจทำให้เสี่ยงต่อปัญหาสุขภาพมากมาย ได้แก่ โรคความดันโลหิตสูง 
                    <br>ระดับโคเลสเตอรอลและระดับไตรกลีเซอไรด์ในเลือดสูง โรคเบาหวานชนิดที่ 2 
                    <br>โรคหลอดเลือดหัวใจ โรคหลอดเลือดสมอง โรคเกี่ยวกับถุงน้ำดี โรคข้อเข่าเสื่อม
                    <br>ภาวะการหยุดหายใจขณะหลับหรือปัญหาในการหายใจ และโรคมะเร็งชนิดต่างๆ
                    </p>
                </div>

            </div>
        </div>
    </div>
        <!-- end -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>about</h4>
                        <ul>
                            <li class="thaifont" ><a href="https://www.it.kmitl.ac.th/th/" target="_blank">คณะเทคโนโลยีสารสนเทศ สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</a></li>
                            <li class="thaifont"><a href="https://www.it.kmitl.ac.th/th/about/travel/" target="_blank">เลขที่ 1 ซอยฉลองกรุง 1 แขวงลาดกระบัง เขตลาดกระบัง กรุงเทพมหานคร 10520</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>special thank</h4>
                        <ul>
                            <li><a href="https://www.si.mahidol.ac.th/" target="_blank">Mahidol</a></li>
                            <li><a href="https://www.amara-clinic.com/what-is-bmi/" target="_blank">AmaraClinic</a></li>
                            <li><a href="https://twitter.com/SiPHHospital/status/1154934324132642816?s=20" target="_blank">Image-1</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>email & contact us</h4>
                        <ul>
                            <li><a href="https://mail.google.com/" target="_blank">64070039@it.kmitl.ac.th</a></li>
                            <li><a href="https://mail.google.com/" target="_blank">64070180@it.kmitl.ac.th</a></li>
                            <li><a href="https://mail.google.com/" target="_blank">64070191@it.kmitl.ac.th</a></li>
                            <li><a href="https://mail.google.com/" target="_blank">64070220@it.kmitl.ac.th</a></li>
                         <li><a href="https://mail.google.com/" target="_blank">64070230@it.kmitl.ac.th</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>social</h4>
                        <div class="social-links">
                            <a href="https://www.facebook.com/kmitlofficial" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://twitter.com/kmitlofficial?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/kmitlofficial/" target="_blank"><i class="fab fa-instagram"></i></a>
                            
                        </div>
                    </div>
                </div>
            </div>
       </footer>

</body>
</html>