<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/home.css">
    <link rel="stylesheet" href="/static/css-file/login_home.css">
    <meta name="description" content="memihtml"> 
    <meta name="author" content="wichaiBIG">
    <meta name="keywords" content="big html">
    <link rel="stylesheet" href="/static/css-file/home_footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@500&display=swap" rel="stylesheet">
    <title>home</title>
</head>
<body>
    <nav>
        <div class="logo">
            <h4>HEALTH IS FUN</h4>
        </div>
            <ul class="nav-links">
                <li><a href="http://127.0.0.1:5000/home">HOME</a></li>
                <li><a href="http://127.0.0.1:5000/check_bmi">CHECK BMI</a></li>
                <li><a href="http://127.0.0.1:5000/food">FOOD</a></li>
                <li><a href="http://127.0.0.1:5000/exercise">EXERCISE</a></li>
                <li><a href="#">#</a></li>
            </ul>

        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>        
        </div>
    </nav>

    <div class="flexbox">
        <div class="flex-container">
            <div class="flex-row">
                <div class="flex-col1">
                    <h1 class="head-content">HEALTH IS FUN</h1>
                    <p class="homemain thaifont">เว็บไซต์นี้เป็นโครงงานวิชาการแก้ปัญหาทางด้านเทคโนโลยีสารสนเทศ(Problem Solving in Information Technology)</p>
                    <p class="homemain thaifont">คณะเทคโนโลยีสารสนเทศ สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
                    <p class="homemain thaifont">โครงงานนี้จัดทำขึ้นเพื่อการศึกษาและเรียนรู้เกี่ยวกับการพัฒนาเว็บไซต์ด้วยภาษา Python และอื่นๆ</p>
                </div>
                
                <div class="flex-col2">
                    <img class="img1" src="/static/images/food1.jpg">
                    <div class="flex-col2-2 thaifont">
                        <a href="http://127.0.0.1:5000/food" style="text-decoration: none;"><h1 class="head-content">เเนะนำอาหาร</h1></a>
                        <p class="content">เรื่องที่สำคัญที่สุดของการดูเเลสุขภาพ คือ การรับประทานอาหาร
                        <br>Health is fun จะเเนะนำอาหารที่เหมาะกับความต้องการของคุณ
                        <br>โดยเราจะเเนะนำอาหารที่เหมาะกับการเพิ่มน้ำหนัก เเละ ลดน้ำหนัก
                        <br>รวมถึงวิธีการทำอาหารตั้งเเต่การเตรียมวัตถุดิบ เเละ
                        <br>โดยที่คุณสามารถลงมือทำเองได้ที่บ้าน
                        </p>
                    </div>
                </div>

                <div class="flex-col3">
                    <div class="flex-col3-2 thaifont">
                        <a href="http://127.0.0.1:5000/check_bmi" style="text-decoration: none;" class="a-bmi"><h1 class="head-content">ทำไมต้อง Check BMI?</h1></a>
                        <p class="content">อะไรคือ BMI? หลายคนสงสัยทุกครั้ง ที่ได้ยินคำว่า BMI โดย 
                        <br>ย่อมาจาก Body Mass Index หรือที่เรียกว่า “ดัชนีมวลกาย”
                        <br>ซึ่งวิธีการคิดและคำนวณนั้นง่ายมากดังในรูปภาพ การคิดค่าของ
                        <br>BMI นั้นเป็นการบอกว่าร่างกายของเรานั้นมีรูปร่างอยู่ในเกณฑ์ใด
                        <br>ซึ่งจะเป็นเกฒฑ์บอกว่าควรเราจะกินอาหารหรือออกกำลังกายเเบบใด
                        </p>
                    </div>
                    <img class="img2" src="/static/images/bmi-meaning-rate.png.webp">
                </div>

                <div class="flex-col4">
                    <img class="img3" src="/static/images/ex001.jpg">
                    <div class="flex-col4-2 thaifont">
                        <a href="http://127.0.0.1:5000/exercise" style="text-decoration: none;"><h1 class="head-content">การออกกำลังกาย</h1></a>
                        <p class="content">การทำกิจกรรมที่ได้ออกแรงหรือ
                        <br>เคลื่อนไหวร่างกายซึ่งมีหลากหลายรูปแบบ
                        <br>การออกกำลังกายอย่างสม่ำเสมอก่อให้เกิด
                        <br>ผลดีต่อสุขภาพโดยช่วยจัดระเบียบ
                        <br>ร่างกายและควบคุมอารมณ์ได้เป็นอย่างดี 
                        <br>เราจึงรวบรวมท่าออกกำลังกายต่างๆ
                        <br>พร้อมทั้งเเนะนำว่าคุณควรจะออกประเภทไหน
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- end -->

            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-col">
                            <h4>about</h4>
                            <ul>
                                <li class="thaifont" ><a href="https://www.it.kmitl.ac.th/th/" target="_blank">คณะเทคโนโลยีสารสนเทศ สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</a></li>
                                <li class="thaifont"><a href="https://www.it.kmitl.ac.th/th/about/travel/" target="_blank">เลขที่ 1 ซอยฉลองกรุง 1 แขวงลาดกระบัง เขตลาดกระบัง กรุงเทพมหานคร 10520</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>special thank</h4>
                            <ul>
                                <li><a href="https://www.pobpad.com/" target="_blank">Pobpad</a></li>
                                <li><a href="https://www.tonliewclinic.com/" target="_blank">TonliewClinic</a></li>
                                <li><a href="https://men.mthai.com/app/uploads/2017/12/iStock-597631914.jpg" target="_blank">Image-1</a></li>
                                <li><a href="https://www.tonliewclinic.com/wp-content/uploads/2020/08/bmi-meaning-rate.png.webp" target="_blank">Image-2</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>email & contact us</h4>
                            <ul>
                                <li><a href="https://mail.google.com/" target="_blank">64070039@it.kmitl.ac.th</a></li>
                                <li><a href="https://mail.google.com/" target="_blank">64070180@it.kmitl.ac.th</a></li>
                                <li><a href="https://mail.google.com/" target="_blank">64070191@it.kmitl.ac.th</a></li>
                                <li><a href="https://mail.google.com/" target="_blank">64070220@it.kmitl.ac.th</a></li>
                             <li><a href="https://mail.google.com/" target="_blank">64070230@it.kmitl.ac.th</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>social</h4>
                            <div class="social-links">
                                <a href="https://www.facebook.com/kmitlofficial" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/kmitlofficial?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.instagram.com/kmitlofficial/" target="_blank"><i class="fab fa-instagram"></i></a>
                                
                            </div>
                        </div>
                    </div>
                </div>
           </footer>
        
        
        <script src="/static/app.js"></script>





</body>
</html>