<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/home.css">
    <link rel="stylesheet" href="/static/css-file/login_home.css">
    <meta name="description" content="memihtml"> 
    <meta name="author" content="wichaiBIG">
    <meta name="keywords" content="big html">
    <title>home</title>
</head>
<body>
    
        
        <div class="box-center">
            
            <nav >
                <div class="logo">
                    <h4>HEALTH IS FUN</h4>
                </div>
                <ul class="nav-links">
                    <li><a href="http://127.0.0.1:5000/home">HOME</a></li>
                    <li><a href="http://127.0.0.1:5000/check_bmi">CHECK BMI</a></li>
                    <li><a href="http://127.0.0.1:5000/food">FOOD</a></li>
                    <li><a href="http://127.0.0.1:5000/exercise">EXERCISE</a></li>
                    <li><a href="#">#</a></li>
                    

                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                    
                </div>
            </nav>
            <div class="box-1">
                <div class="in-box">
                <h1>HEALTH IS FUN</h1>
                <p>เว็บไซต์นี้เป็นโครงงานวิชา การแก้ปัญหาทางด้านเทคโนโลยีสารสนเทศ(Problem Solving in Information Technology) <br>
                คณะเทคโนโลยีสารสนเทศ สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
                <p>โครงงานนี้จัดทำขึ้นเพื่อการศึกษาและเรียนรู้เกี่ยวกับการพัฒนาเว็บไวต์ด้วยภาษา Python และอื่นๆ</p>
                </div>
            </div>

            <div class="box-2">
                <img src="/static/images/food1.jpg" style="position: absolute;">
                <div>
                    <a href="http://127.0.0.1:5000/food" style="text-decoration: none;"><h1>เเนะนำอาหาร</h1></a>
                    <br>
                    <p>เรื่องที่สำคัญที่สุดของการดูเเลสุขภาพ คือ การรับประทานอาหาร
                    <br>Health is fun จะเเนะนำอาหารที่เหมาะกับความต้องการของคุณ
                    <br>โดยเราจะเเนะนำอาหารที่เหมาะกับการเพิ่มน้ำหนัก เเละ ลดน้ำหนัก
                    <p>รวมถึงวิธีการทำอาหารตั้งเเต่การเตรียมวัตถุดิบ เเละ วิธีการปรุง
                    <br>โดยที่คุณสามารถลงมือทำเองได้ที่บ้าน
                    </p>
                    </p>
                </div>
            </div>
            <div class="box-3">
                <img src="/static/images/bmi-meaning-rate.png.webp" style="position: absolute;">
                <div class="box-3-txt">
                    <a href="http://127.0.0.1:5000/check_bmi" target="_blank" style="text-decoration: none;" class="a-bmi">ทำไมต้อง Check BMI?</a>
                    <br>
                    <br><br>
                    <p>อะไรคือ BMI? หลายคนสงสัยทุกครั้ง ที่ได้ยินคำว่า BMI โดย 
                    <br>ย่อมาจาก Body Mass Index หรือที่เรียกว่า “ดัชนีมวลกาย”
                    <br>ซึ่งวิธีการคิดและคำนวณนั้นง่ายมากดังในรูปภาพ การคิดค่าของ
                    <br>BMI นั้นเป็นการบอกว่าร่างกายของเรานั้นมีรูปร่างอยู่ในเกณฑ์ใด
                    <br>ซึ่งจะเป็นเกฒฑ์บอกว่าควรเราจะกินอาหารหรือออกกำลังกายเเบบใด
                    </p>
                </div>
                
            </div>
            <div class="box-4">
                <img src="/static/images/ex001.jpg" style="position: absolute;">
                <div class="txt1">
                    <h1>การออกกำลังกาย</h1>
                    <br>
                    <p>การทำกิจกรรมที่ได้ออกแรงหรือ
                    <br>เคลื่อนไหวร่างกายซึ่งมีหลากหลายรูปแบบ
                    <br>การออกกำลังกายอย่างสม่ำเสมอก่อให้เกิด
                    <br>ผลดีต่อสุขภาพโดยช่วยจัดระเบียบ
                    <br>ร่างกายและควบคุมอารมณ์ได้เป็นอย่างดี 
                    <br>เราจึงรวบรวมท่าออกกำลังกายต่างๆ
                    <br>พร้อมทั้งเเนะนำว่าคุณควรจะออกประเภทไหน
                </p>
                </div>
            </div>

            <!-- end -->

            <div class="box-end">
                <div class="end-txt" >
                    <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
                    <br>
                    <p style="font-size: 18px;">
                        ที่อยู่: 1 ซอย ฉลองกรุง 1 แขวง ลาดกระบัง เขตลาดกระบัง
                        <br>
                        กรุงเทพมหานคร 10520 
                        <br>
                        โทรศัพท์: 02 329 8000
                    </p>
                    <br>
                    <a href="#" style="text-decoration: none;" >เกี่ยวกับเรา</a>
                </div>
                <div class="end-txt1">
                    <p>เเจ้งปัญหาหรือติดต่อ</p>
                    <br>
                    <p>E-mail : 64070xxx@it.kmitl.ac.th</p>
                    <p>E-mail : 64070xxx@it.kmitl.ac.th</p>
                    <p>E-mail : 64070xxx@it.kmitl.ac.th</p>
                    <p>E-mail : 64070xxx@it.kmitl.ac.th</p>
                    <p>E-mail : 64070xxx@it.kmitl.ac.th</p>
                    <p>Tel : 08025xxxxx</p>
                    <p>Tel : 08025xxxxx</p>
                    <p>Tel : 08025xxxxx</p>
                    <p>Tel : 08025xxxxx</p>
                    <p>Tel : 08025xxxxx</p>
                    <p>FB : xxxxx xxxxxx</p>
                </div>
                <div class="end-txt2">
                    <p>แหล่งที่มา/อ้างอิง</p>
                    <br>
                    <a href="https://www.pobpad.com/">www.pobpad.com</a>
                    <br>
                    <a href="https://www.tonliewclinic.com/">www.tonliewclinic.com</a>
                    <br>
                    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fmen.mthai.com%2Fhealth-firm%2F156950.html&psig=
                    AOvVaw2UxIuHVcvxwfrY5wmCfBjf&ust=1636290276532000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCLC2i7jmg_QCFQAAAAAdAAAAABAg">images-1</a>
                    <br>
                    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.thairath.co.th%2Flifestyle%2Flife%2F1890
                    620&psig=AOvVaw2ayqFVfHaesHW4tvoqIoZz&ust=1636290619384000&sourc
                    e=images&cd=vfe&ved=0CAgQjRxqFwoTCJDzodvng_QCFQAAAAAdAAAAABAD">images-2</a>
                    <br>
                    <a href="https://www.tonliewclinic.com/wp-content/uploads/2020/08/bmi-meaning-rate.png.webp">images-3</a>

                </div>
            </div>
        </div>
        
        <script src="/static/app.js"></script>

        
        
        
</body>
</html>