<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/food.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Food Recommend</title>
</head>
<body>

    <div class="box-center">
        <nav >
            <div class="logo">
                <h4>HEALTH IS FUN</h4>
            </div>
            <ul class="nav-links">
                <li><a href="http://127.0.0.1:5000/home">HOME</a></li>
                <li><a href="http://127.0.0.1:5000/check_bmi">CHECK BMI</a></li>
                <li><a href="http://127.0.0.1:5000/food">FOOD</a></li>
                <li><a href="http://127.0.0.1:5000/exercise">EXERCISE</a></li>
                <li><a href="#">#</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                
            </div>
        </nav>
    
        
        <div class="container">
            <div class="title-food">
                <h1>FOOD PSIT</h1>
            </div>
            <p class="p-title">
                <br><b>น้ำพริกอ่องอกไก่</b>
                <br>น้ำพริกอ่องเป็นน้ำพริกซึ่งนิยมรับประทานกัน
                <br>ในภาคเหนือของประเทศไทย
                <br>เป็นอาหารที่มีสมุนไพร ที่ช่วยรักษาสุขภาพ
                <br>ทำเองได้ง่ายๆ และมีให้หาซื้อทั่วไป
                <br>เป็นหนึ่งในเมนูที่ทำง่ายและสะดวกรวดเร็ว
                <br>มีพลังงานทั้งหมด 80-100 Kcal
                <br> 
                </p>

                <div class="menu">
                
                    <img src="/static/images/น้ำพริกอ่องอกไก่.jpg" width="480px" height="400px">
    
                    <hr>
                    <img src="/static/images/น้ำพริกอ่องอกไก่วัตถุดิบ.jpg" width="950px" height="480px"
                    style="margin: 5% 0 0 0%;">
                    <h3>วัตถุดิบ   </h3>
                    <p>
                            1. อกไก่สับ600 กรัม
                    <br>    2. พริกแห้ง4 เม็ด 
                    <br>    3. หอมแดง20 หัว 
                    <br>    4. กระเทียม5 หัว 
                    <br>    5. เกลือป่นตามชอบ 
                    <br>    6. น้ำตาลดอกมะพร้าว 1/2 ช้อนโต๊ะ 
                    <br>    7. น้ำมันมะกอก 2 ปั๊ม 
                    <br>    8. มะเขือเทศราชินี30 ลูก
                    </p>
                    <img src="/static/images/น้ำพริกอ่องอกไก่2.jpg">
    
                    <h3>วิธีทำ น้ำพริกอ่องอกไก่</h3>
                    <p>
                                1. หั่นมะเขือราชินี พริกแห้ง กระเทียมและหอมแดงเป็นชิ้นๆ 
                        <br>    2. นำพริกแห้งไปแช่น้ำ แล้วเอามาตำกับกระเทียม หอมแดงจนละเอียด
                        <br>    3. ฉีดน้ำมันมะกอกสเปรย์บางๆแล้วนำเครื่องแกงไปผัดจนหอม 
                        <br>    4. เติมน้ำเล็กน้อยแล้วนำอกไก่ลงไปผัดด้วยจนไก่สุก ค่อยใส่มะเขือเทศราชินีลงไปผัดต่อจนมะเขือนิ่ม 
                        <br>    5. ปรุงรสด้วยเกลือป่นกับน้ำตาลดอกมะพร้าวตามชอบ ผัดจรเข้ากัน แล้วตักเสิร์ฟ
                    </p>
                    <p>
                        <br> #อ้างอิงข้อมูลจาก cooking.kapook.com  เเละ www.wongnai.com
                    </p>
            
                
            </div>
            
            
            
            
   
    
        </div>
        
    </div>
       
    
</body>
</html>