<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/food.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Food Recommend</title>
</head>
<body>

    <div class="box-center">
        <nav >
            <div class="logo">
                <h4>HEALTH IS FUN</h4>
            </div>
            <ul class="nav-links">
                <li><a href="{{url_for('home')}}">HOME</a></li>
              <li><a href="{{url_for('check')}}">CHECK BMI</a></li>
              <li><a href="{{url_for('food')}}">FOOD</a></li>
              <li><a href="{{url_for('exercise_page1')}}">EXERCISE</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                
            </div>
        </nav>
    
        
        <div class="container">
            
            <div class="title-food">
                <h1>FOOD PSIT</h1>
            </div>


            
            <div class="menu">
                
                <div class="title-box">
                    <img src="/static/images/ยำถั่วพู.jpg">
                <p class="p-title">
                <b>ยำถั่วพู</b>
                ยำถั่วพูเป็นเมนูที่จัดเต็มด้วยคุณค่าทางอาหารครบถ้วน
                มีทั้งวิตามิน โปรตีนและแร่ธาตุต่างๆ หลายชนิด
                เนื่องจากถั่วพูเองก็เป็นผักที่เปี่ยมด้วยโปรตีนสูงอยู่แล้ว
                แถมยังถือเป็นโปรตีนจากธรรมชาติที่มาพร้อมกากใยอาหารสูง
                ถือเป็นเมนูสุขภาพสำหรับหลายๆคน ที่ต้องการลดน้ำหนักโดยเฉพาะ
                โดยยำถั่วพูให้พลังงาน 185 Kcal
                
                </p>
                </div>

                <hr>
                <img src="/static/images/วัตถุดิบ ยำถั่วพู.jpg" width="950px" height="480px"
                style="margin: 5% 0 0 0%;">
                <h3>วัตถุดิบ ยำถั่วพู</h3>
                <p>
                        1. ถั่วพู 300 กรัม </p>
                <p>    2. กุ้งสด 8 ตัว</p>
                <p>    3. เนื้อหมู 50 กรัม</p>
                <p>    4. กุ้งแห้ง 2 ช้อนโต๊ะ</p>
                <p>    5. มะพร้าวขูดคั่ว 2 ช้อนโต๊ะ</p>
                <p>    6. ถั่วลิสงคั่วแล้วบุบ 2 ช้อนโต๊ะ</p>
                <p>    7. กะทิข้นหรือหัวกะทิ 4 ช้อนโต๊ะ</p>
                <p>    8. พริกชี้ฟ้า 2 เม็ด</p>
                <p>    9. หอมเจียว 4 ช้อนโต๊ะ</p>
                <p>    10. พริกแห้งทอดสำหรับตกแต่ง</p>
                <br>
                <h3>  น้ำยำอเนกประสงค์  </h3>
                <p>    1. น้ำปลา 200 กรัม </p>
                <p>    2. น้ำตาลทราย 100 กรัม</p>
                <p>    3. น้ำส้มสายชู 300 กรัม</p>
                <br>
                <h3>  ส่วนผสมเครื่องปรุงน้ำยำ  </h3>
                <p>    1. น้ำยำอเนกประสงค์ 1/2 ถ้วยตวง</p>
                <p>    2. น้ำมะนาว หรือน้ำมะขามเปียก 2 ช้อนโต๊ะ</p>
                <p>    3. น้ำตาลปี๊บ 2 ช้อนโต๊ะ</p>
                <p>    4. น้ำพริกเผาสำเร็จรูป 2 ช้อนโต๊ะ</p>
                
                <img src="/static/images/ยำถั่วพู2.jpg" width="950px" height="520px">

                <h3>วิธีทำยำถั่วพู</h3>
                <p>
                            1.  เตรียมถั่วพูโดยนำถั่วพูมาล้างให้สะอาด ตัดหัวท้ายพร้อมลอกเส้นข้างออก จากนั้นนำไปต้มทั้งฝักในน้ำเดือดที่ใส่เกลือเล็กน้อยและน้ำพืช 1 ช้อนโต๊ะ</p>
                    <p>        เพื่อให้ถั่วพูมีสีเขียวสวยเป็นเงา โดยต้มนานเพียง 1 นาทีเท่านั้น ตักขึ้นแล้วแช่น้ำเย็นทันที นำขึ้นจากน้ำเย็นโดยสรงให้สะเด็ดน้ำ แล้วนำมาหั่นตามขวางบางๆ</p>
                    <p>    2. เตรียมเนื้อสัตว์โดยนำกุ้งสด เนื้อหมู มาล้างให้สะอาด จากนั้นลวกกุ้ง และนำเนื้อหมูไปต้มหรือนึ่งให้สุกแล้วหั่นชิ้นเล็กๆ นำกุ้งแห้งมาป่นให้ละเอียด</p>
                    <p>    3. เตรียมนำไปยำ โดยนำน้ำยำอเนกประสงค์ ผสมกับมะนาวหรือมะขามเปียก น้ำตาลปี๊บ น้ำพริกเผาสูตรสำเร็จรูป คนให้เข้ากัน ชิมรส </p>
                    <p>    4. เตรียมเครื่องยำโดยใช้กะทิข้น หรือหัวกะทิมาตั้งไฟเบาๆ พอให้เดือดปุดๆ พริกชี้ฟ้าแดงล้างสะอาดแล้วหั่นฝอย</p>
                    <p>    5. นำถั่วพู กุ้งลวก เนื้อหมูชิ้นที่หั่นไว้ กุ้งแห้ง มะพร้าว ถั่วลิสง มะพร้าว ถั่วลิสง ลงชามผสม ใส่น้ำยำที่ปรุงเตรียมไว้ ใส่กะปิบางส่วน คลุกเคล้าให้เข้ากัน</p>
                    <p>       จากนั้นตักใส่จานเสิร์ฟ โรยหน้ากะทิที่เหลือ หอมเจียว แต่งด้วย พริกชี้ฟ้าแดงและพริกแห้งทอด รับประทานคู่กับไข่ต้ม </p>
                
                <p>
                    <br> #อ้างอิงข้อมูลจาก  https://yingying307.wordpress.com เเละ https://food.mthai.com/food-recipe
                </p>
                
            </div>
            
            
            
   
    
        </div>
        

        
    </div>
</body>
</html>