<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/food.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Food Recommend</title>
</head>
<body>

    <div class="box-center">
        <nav >
            <div class="logo">
                <h4>HEALTH IS FUN</h4>
            </div>
            <ul class="nav-links">
                <li><a href="http://127.0.0.1:5000/home">HOME</a></li>
                <li><a href="http://127.0.0.1:5000/check_bmi">CHECK BMI</a></li>
                <li><a href="http://127.0.0.1:5000/food">FOOD</a></li>
                <li><a href="http://127.0.0.1:5000/exercise">EXERCISE</a></li>
                <li><a href="#">#</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                
            </div>
        </nav>
    
        
        <div class="container">
            <div class="title-food">
                <h1>FOOD PSIT</h1>
            </div>
            
                <div class="menu">

                    <div class="tile-box">
                        <img src="/static/images/ส้มตำผลไม้.jpg">
                    <p class="p-title">
                        <b>ส้มตำผลไม้</b>
                        ส้มตำ อาหารรสเด็ดที่ใครได้ลิ้มรส
                        ก็จะติดใจอย่างมาก และสามารถหาซื้อ
                        วัตถุดิบได้ง่าย เราขอเสนอส้มตำ คลีน
                        ที่ทำมาจากผลไม้เพื่อส่งเสริมสุขภาพ
                        และยังเป็นหนึ่งในเมนูที่ทำง่ายและรวดเร็ว
                        ให้พลังงานทั้งหมด 150  Kcal
                         
                        </p>
                    </div>
                    
    
                    <hr>
                    <img src="/static/images/ส้มตำผลไม้วัตถุดิบ.jpg" width="950px" height="480px"
                    style="margin: 5% 0 0 0%;">
                    <h3>วัตถุดิบ ส้มตำผลไม้</h3>
                    <p>
                            1. ข้าวโพด 70 กรัม </p>
                    <p>    2. สับปะรด 80 กรัม </p>
                    <p>    3. แอปเปิล 60 กรัม  </p>
                    <p>    4. ฝรั่ง 60 กรัม</p>
                    <p>    5. ส้มโอ 60 กรัม </p>
                    <p>    6. ลูกพลับ 70 กรัม  </p>
                    <p>    7. มะเขือเทศสีดา 2 ช้อนโต๊ะ </p>
                    <p>    8. กุ้งแห้ง 2 ช้อนโต๊ะ </p>
                    <p>    9. พริกแดงจินดา 7 เม็ด </p>
                    <p>    10. ถั่วลิสงคั่ว 3 ช้อนโต๊ะ </p>
                    <p>    11. มะนาว 1 ½ ลูก </p>
                    <p>    12. กระเทียมไทย 12 กลีบ </p>
                    <p>    13. น้ำปลา 2 ช้อนโต๊ะ </p>
                    <p>    14. น้ำตาลปี๊บ 1 ช้อนโต๊ะ </p>
                    
                    
                    <img src="/static/images/ส้มตำผลไม้2.jpg">
    
                    <h3>วิธีทำ ส้มตำผลไม้</h3>
                    <p>
                         1. นำพริกแดงจินดา กระเทียมมาโขลกพอแหลก ใส่น้ำตาลปี๊บ น้ำปลา น้ำมะนาว และมะเขือเทศลงไป คลุกเคล้าให้ส่วนผสมเข้ากันดี </p>
                        <p>    2. นำภาชนะใบใหญ่ ๆ เลยนะคะ ใส่ส่วนผสมที่เป็นผลไม้ลงไป ฝรั่ง แอปเปิล ลูกพลับ สับปะรด ข้าวโพด ส้มโอ และกุ้งแห้ง  </p>
                        <p>    3. นำน้ำส้มตำที่เตรียมไว้ ราดลงบนส่วนผสมเลย คลุกเคล้าเบา ๆ ให้เข้ากันใส่ถั่วลิสงตามลงไปคลุกเคล้าให้ส่วนผสมเข้ากันดีอีกครั้ง</p>
                        <p>    4. นำส้มตำผลไม้ตักใส่จาน โรยถั่วลิสงคั่ว ตกแต่งด้วยใบสะระแหน่ จัดเสิร์ฟได้เลย </p>
                    
                    <p>
                        <br> #อ้างอิงข้อมูลจาก www.wongnai.com  เเละ women.trueid.net
                    </p>
            <div class="title-food">
                
            </div>
            
            
            
            
   
    
        </div>
    </div>       
    </div>    
    
</body>
</html>