<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/food.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>couscous salad with tofu </title>
</head>
<body>

    <div class="box-center">
        <nav >
            <div class="logo">
                <h4>HEALTH IS FUN</h4>
            </div>
            <ul class="nav-links">
                <li><a href="{{url_for('home')}}">HOME</a></li>
                <li><a href="{{url_for('check')}}">CHECK BMI</a></li>
                <li><a href="{{url_for('food')}}">FOOD</a></li>
                <li><a href="{{url_for('exercise_page1')}}">EXERCISE</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                
            </div>
        </nav>
    
        
        <div class="container">
            <div class="title-food">
                <h1>FOOD PSIT</h1>
            </div>
            
            <div class="menu">
                
                <div class="title-box">
                <img src="/static/images/couscous salad with tofu.jpg" >
                <p class="p-title">
                <b>couscous salad with tofu </b>
                สลัดที่ยากขึ้นมาอีกขั้น แต่ก็ง่ายอยู่ดี 
                ใช้เวลาไม่นานในการทำเมนูนี้
                อร่อยกินง่าย และเต็มไปด้วยสารอาหาร
                ให้พลังงาน 170-200 Kcal
                </p>
                </div>

                <hr>

                <h3>วัตถุดิบ couscous salad with tofu</h3>
                <p>
                        1. ผักกาดแก้ว 3 ใบ </p>
                <p>    2. ข้าวโพดสุก 2 ช้อนโต๊ะ </p>
                <p>    3. มะเขือเทศ 1 ลูก</p>
                <p>    4. Couscous 3 ช้อนโต๊ะ  </p>
                <p>    5. อะโวคาโด 1 ลูกเล็ก  </p>
                <p>    6. พริกไทย </p>
                <p>    7. เกลือหยิบมือ </p>
                <p>    8. เต้าหู้ </p>

                <img src="/static/images/couscous salad with tofu2.jpg">

                <h3>วิธีทำ couscous salad with tofu </h3>
                <p>
                            1. หั่นผักทุกอย่างเป็นชิ้นพอคำ </p>
                    <p>    2. เทน้ำร้อนที่เดือดเกือบท่วมแช่ Couscous จากนั้นรอ 5-10 นาที</p>
                    <p>    3. หั่นเต้าหู้โรยพริกไทยและเกลือหยิบมือ </p>
                    <p>      4. สเปรย์น้ำมันลงกระทะ จากนั้นย่างเต้าหู้จนมีสีที่น่ากิน อย่าใช้ไฟแรงมากเดี๋ยวมันไหม้ จัดทุกสิ่งที่เตรียมไว้ลงจาน</p>
                    
                    <p> #อ้างอิงข้อมูลจาก cooking.kapook.com  เเละ  www.reshkitchen.com</p>
                
                
            </div>
            
            
            
   
    
        </div>
        
    </div>
    
</body>
</html>