=<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/food.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>สปาเกตตีคาโบนารา</title>
</head>
<body>

    <div class="box-center">
        <nav >
            <div class="logo">
                <h4>HEALTH IS FUN</h4>
            </div>
            <ul class="nav-links">
                <li><a href="{{url_for('home')}}">HOME</a></li>
              <li><a href="{{url_for('check')}}">CHECK BMI</a></li>
              <li><a href="{{url_for('food')}}">FOOD</a></li>
              <li><a href="{{url_for('exercise_page1')}}">EXERCISE</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                
            </div>
        </nav>
    
        
        <div class="container">
            <div class="title-food">
                <h1>FOOD PSIT</h1>
            </div>
            
            <div class="menu">
                
                <div class="title-box">
                <img src="/static/images/สปาเกตตีซอสมะเขือเทศ.jpg" >
                <p class="p-title">
                <b>สปาเกตตีคาโบนารา</b>
                สปาเกตตีคาโบนารา อาหารที่คล้ายเมนูที่แล้ว
                แต่มีความมันกว่า เข้มข้นจากนมและเนย
                สามารถทำให้คลีนได้เองง่ายๆ
                ถูกและอร่อยอยู่เหมือนเดิม
                ให้พลังงาน 320 Kcal
                </p>
                </div>

                <hr>
                <img src="/static/images/สปาเกตตีคาโบนาราวัตถุดิบ.jpg" width="950px" height="480px"
                style="margin: 5% 0 0 0%;">
                <h3>วัตถุดิบ สปาเกตตีคาโบนารา</h3>
                <p>
                        1. เส้นสปาเกตตี (ต้มในน้ำเดือดประมาณ 7 นาที ใส่เกลือป่นนิดหน่อย )</p>
                <p>    2. เห็ดหั่น (ชิ้นเล็ก ๆ)</p>
                <p>    3. แฮมไก่หั่น (ชิ้นเล็ก ๆ)</p>
                <p>    4. เนยจืดไขมันต่ำ</p>
                <p>    5. นมจืดไขมันต่ำ</p>
                <p>    6. ไข่ไก่ 1 ฟอง</p>
                <p>    7. แป้งข้าวโพด 1 ช้อนโต๊ะ (ละลายน้ำ)</p>


                <img src="/static/images/สปาเกตตีคาโบนารา2.jpg">

                <h3>วิธีทำ สปาเกตตีคาโบนารา</h3>
                <p>
                            1. เตรียมเส้นสปาเกตตีที่ต้มแล้ว จัดลงจานรอไว้ก่อน</p>
                    <p>    2.ทำซอสคาโบนารา ใส่เนยลงในกระทะ ใส่เห็ดกับแฮมผัดให้เข้ากัน ปรุงรสด้วยเกลือป่นกับน้ำตาลทรายเล็กน้อย</p>
                    <p>    3.ใส่นมจืดตามความเหมาะสม พอเริ่มเดือดให้ตอกไข่ไก่ลงไป คนให้เข้ากัน</p>
                    <p>    4.ใส่แป้งข้าวโพดละลายน้ำ จนน้ำซอสข้นเหนียว ตักราดเส้นสปาเกตตี หรือจะเอาเส้นมาคลุกกับน้ำซอสเลยก็ได้ แล้วแต่ชอบ</p> 
                    <p>    5.โรยหน้าด้วยออริกาโน่เพื่อความหอม เพิ่มเติมด้วยแฮม เห็ด และฟักทองจี่ลงบนกระทะจนสุก ตบท้ายด้วยน้ำมะเขือเทศ ปรับสูตรซอสคาโบนาราใส่เนื้อสัตว์ได้ เช่น กุ้ง หรืออกไก่ได้</p>
                    
                    
                    <br> #อ้างอิงข้อมูลจาก cooking.kapook.com  
                </p>
                
            </div>
            
            
            
   
    
        </div>
        
    </div>
    
</body>
</html>