<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/food.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Pink Smoothie</title>
</head>
<body>

    <div class="box-center">
        <nav >
            <div class="logo">
                <h4>HEALTH IS FUN</h4>
            </div>
            <ul class="nav-links">
                <li><a href="{{url_for('home')}}">HOME</a></li>
                <li><a href="{{url_for('check')}}">CHECK BMI</a></li>
                <li><a href="{{url_for('food')}}">FOOD</a></li>
                <li><a href="{{url_for('exercise_page1')}}">EXERCISE</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                
            </div>
        </nav>
    
        
        <div class="container">
            <div class="title-food">
                <h1>FOOD PSIT</h1>
            </div>
            
            <div class="menu">
                
                <div class="title-box">
                <img src="/static/images/Pink Smoothie.jpg" >
                <p class="p-title">
                <b>Pink Smoothie </b>
                เครื่องดื่มที่แสนจะทำง่าย แต่ประโยชน์มากล้น
                วัตถุดิบแสนหาจะง่าย
                และสุดแสนจะทำง่ายแสนง่าย
                อร่อยกินง่าย และเต็มไปด้วยสารอาหาร
                ให้พลังงาน 40 Kcal
                </p>
                </div>

                <hr>

                <h3>วัตถุดิบ Pink Smoothie </h3>
                <p>
                        1. สตรอว์เบอร์รี 3 ลูก </p>
                <p>    2. กล้วย 1 ลูก </p>
                <p>    3. ส้มลูกเล็ก 1 ลูก </p>
                <p>    4. โยเกิร์ตไขมันต่ำรสธรรมชาติ 3 ช้อนโต๊ะ </p>
                <p>    5. น้ำเปล่าเย็น 1/4 ถ้วย</p>

                <img src="/static/images/Pink Smoothie2.jpg">

                <h3>วิธีทำ Pink Smoothie</h3>
                <p>
                            1. ปั่นทุกอย่างให้เข้ากัน ดื่มเป็นมื้อเช้าหรือมื้อเย็นก็ได้นะ ได้ประโยชน์เต็ม ๆ</p>



                    <p> #อ้างอิงข้อมูลจาก cooking.kapook.com  เเละ  www.seasonlycreations.com</p>
                
                
            </div>
            
            
            
   
    
        </div>
        
    </div>
    
</body>
</html>