<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/food.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Food Recommend</title>
</head>
<body>

    <div class="box-center">
        <nav >
            <div class="logo">
                <h4>HEALTH IS FUN</h4>
            </div>
            <ul class="nav-links">
                <li><a href="http://127.0.0.1:5000/home">HOME</a></li>
                <li><a href="http://127.0.0.1:5000/check_bmi">CHECK BMI</a></li>
                <li><a href="http://127.0.0.1:5000/food">FOOD</a></li>
                <li><a href="http://127.0.0.1:5000/exercise">EXERCISE</a></li>
                <li><a href="#">#</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                
            </div>
        </nav>
    
        
        <div class="container">
            <div class="title-food">
                <h1>FOOD PSIT</h1>
            </div>
            
            <div class="menu">
                
                <div class="title-box">
                    <img src="/static/images/แกงเขียวหวานอกไก่3.jpg" >
                <p class="p-title">
                <b>แกงเขียวหวานอกไก่</b>
                แกงเขียวหวานอกไก่ อาหารไทยที่แสนอร่อย
                พริกแกงคือส่วนหนึ่งของอาหารหลากหลายชนิด
                เป็นที่นิยมในหมู่คนไทยมาช้านาน
                สามารถทำเองหรือซื้อก็ได้เช่นกัน
                อกไก่คั่วพริกแกงเป็นอาหารคลีนที่เราจะนำเสนอ
                ทำง่ายและรวดเร็ว ให้พลังงาน 173 Kcal
                </p>
                </div>

                <hr>
                <img src="/static/images/แกงเขียวหวานอกไก่.jpg" width="950px" height="480px"
                style="margin: 5% 0 0 0%;">
                <h3>วัตถุดิบ แกงเขียวหวานอกไก่</h3>
                <p>
                        1. อกไก่ 450 กรัม อ่านต่อได้ที่ </p>
                <p>    2. เลือดไก่ 1 ก้อน อ่านต่อได้ที่ </p>
                <p>    3. มะเขือเปราะ 400 กรัม อ่านต่อได้ที่ </p>
                <p>    4. มะเขือพวง 300 กรัม อ่านต่อได้ที่ </p>
                <p>    5. โหระพา 200 กรัม อ่านต่อได้ที่ </p>
                <p>    6. นมสดขาดมันเนย 500 มิลลิลิตร </p>
                <p>    5. พริกชี้ฟ้า 5 เม็ด </p>
                <p>    5. พริกแกงเขียวหวานออร์แกนิก 2 1/2 ช้อนโต๊ะ </p>
                <p>    5. น้ำตาลมะพร้าว 1 ช้อนโต๊ะ </p>
                <p>    5. น้ำปลา Low Sodium 1 1/2 ช้อนโต๊ะ </p>
                
                <img src="/static/images/แกงเขียวหวานอกไก่2.jpg">

                <h3>วิธีทำ แกงเขียวหวานอกไก่</h3>
                <p>
                            1. นำมะเขือเปาะ มะเขือพวง โหระพา พริกชี้ฟ้า ล้างทำความสะอาดเตรียมไว้ค่ะ </p>
                    <p>    2. นำอกไก่ลอกหนัง และเลือดไก่ ล้างทำความสะอาด เสร็จแล้วนำเนื้ออกไก่ และเลือดไก่มาหั่นเป็นชิ้นพอดีคำค่ะ ไม่หนาจนเกินไป </p>
                    <p>    2.  ตั้งกระทะ ไฟกลางค่ะ นำนมขาดมันเนยใส่ลงไปค่ะแบ่งใส่นะคะ อย่าเพิ่งใส่ครั้งแรกหมดค่ะ ตามด้วยพริกแกงเขียวหวานออร์แกนิก ผัดให้เข้ากัน รอจนพริกแกงหอมค่ะ  </p>
                    <p>    2.  ค่อย ๆ เติมนมขาดมันเนยลงไปทีละนิดค่ะ รอจนเข้ากันกับเครื่องแกง แล้วค่อยใส่อกไก่ลงไปค่ะ  </p>
                    <p>    2.  ผัดจนอกไก่สุกค่ะ เติมนมขาดมันเนยลงไปอีกจนหมดเลยค่ะรอบนี้ เสร็จแล้วทิ้งไว้สักครู่นะคะ  </p>
                    <p>    2.  หลังจากนั้น นำมะเขือเปราะ มะเขือพวง พริกชี้ฟ้า ใส่ตามลงไปเลยค่ะ หมั่นคนให้มะเขือจมน้ำแกงนะคะ มะเขือจะได้ไม่ดำค่ะ  </p>
                    <p>    2.  รอจนมะเขือสุกดีแล้ว ถึงจะใส่เลือดไก่ตามลงไปค่ะ   </p>
                    <p>    2.  ปรุงรสด้วยน้ำตาลมะพร้าว น้ำปลา Low Sodium แล้วคนให้เข้ากันดีค่ะ   </p>
                    <p>    2.  เสร็จแล้วใส่ใบโหระพาเป็นขั้นตอนสุดท้ายเลยค่ะ คนให้ทั่ว ปิดไฟ ยกลงจากเตาได้เลยค่ะ  </p>
                <p>
                    <br> #อ้างอิงข้อมูลจาก cooking.kapook.com   เเละ  www.wongnai.com
                </p>
                
            </div>
            
            
            
   
    
        </div>
        
    </div>
    
</body>
</html>