<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/food.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Food Recommend</title>
</head>
<body>

    <div class="box-center">
        <nav >
            <div class="logo">
                <h4>HEALTH IS FUN</h4>
            </div>
            <ul class="nav-links">
                <li><a href="http://127.0.0.1:5000/home">HOME</a></li>
                <li><a href="http://127.0.0.1:5000/check_bmi">CHECK BMI</a></li>
                <li><a href="http://127.0.0.1:5000/food">FOOD</a></li>
                <li><a href="http://127.0.0.1:5000/exercise">EXERCISE</a></li>
                <li><a href="#">#</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                
            </div>
        </nav>
    
        
        <div class="container">
            
            <p class="p-title">
            <br><b>ผัดถั่วงอกเต้าหู้</b>
            <br>อาหารจานนี้สะดวกและรวดเร็ว
            <br>วัตถุดิบสามารถหาได้ง่าย และราคาไม่แพง
            <br>เหมาะสำหรับคนที่ต้องการอาหารที่ราคาถูก
            <br>และดีต่อสุขภาพ เป็นอาหารที่ทานได้ทุกเวลา
            <br>และประโยชน์ของถั่วงอกก็ช่วยบำรุง
            <br>ระบบขับถ่าย และช่วยลดอาการอักเสบในร่างกาย
            <br>ให้พลังงานทั้งหมด 155 Kcal
            </p>
            
            <div class="menu">
                
                <img src="/static/images/ผัดถั่วงอกเต้าหู้.jpg" width="480px" height="400px">

                <hr>
                <img src="/static/images/วัตถุดิบผัดถั่วงอก.JPG" width="950px" height="480px"
                style="margin: 5% 0 0 0%;">
                <h3>วัตถุดิบ ผัดถั่วงอกเต้าหู้</h3>
                <p>
                        1. ถั่วงอก 200 กรัม
                <br>    2. เต้าหู้ขาว 1 ก้อน
                <br>    3. ขึ้นฉ่าย 1 ช้อนโต๊ะ
                <br>    4. ต้นหอม 1 ช้อนโต๊ะ
                <br>    5. กระเทียม 1 ช้อนโต๊ะ
                <br>    6. น้ำมันพืช 2 ช้อนโต๊ะ
                <br>    7. ซีอิ๊วขาว 1 ช้อนชา
                <br>    8. น้ำมันหอย 1 ช้อนชา
                <br>    9. น้ำตาลทราย 1/2 ช้อนชา
                <br>
                </p>
                <img src="/static/images/ผัดถั่วงอกเต้าหู้.jpg" width="950px" height="520px">

                <h3>วิธีทำผัดถั่วงอกเต้าหู้</h3>
                <p>
                            1.  ล้างถั่วงอกให้สะอาด พักให้สะเด็ดน้ำ
                    <br>    2.  ระหว่างนั้นนำเต้าหู้มาหั่นเป็นชิ้น ขนาดพอคำ
                    <br>    3.  นำเต้าหู้มาจี่กับน้ำมันเล็กน้อยบนกระทะจนเป็นสีน้ำตาลสวย ตักขึ้นมาซับน้ำมัน
                    <br>    4.  ตั้งกระทะใส่น้ำมันพืชสำหรับผัดลงไป รอให้ร้อน
                    <br>    5. ใส่กระเทียมสับลงไปผัดให้หอมสักครู่
                    <br>    6. ใส่ถั่วงอก เต้าหู้ ขึ้นฉ่ายซอย ต้นหอมซอย
                    <br>    7.  เติมซีอิ๊วขาว น้ำมันหอย น้ำตาลทรายลงไป แล้วผัดทุกอย่างให้เข้ากัน
                    <br>          
                    <br>   
                    <br>
                </p>
                <p>
                    <br> #อ้างอิงข้อมูลจาก  https://th.openrice.com/th/bangkok เเละ https://food.mthai.com/food-recipe
                </p>
                
            </div>
            
            
            
   
    
        </div>
        

        
    </div>
</body>
</html>