<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/food.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Food Recommend</title>
</head>
<body>

    <div class="box-center">
        <nav >
            <div class="logo">
                <h4>HEALTH IS FUN</h4>
            </div>
            <ul class="nav-links">
                <li><a href="http://127.0.0.1:5000/home">HOME</a></li>
                <li><a href="http://127.0.0.1:5000/check_bmi">CHECK BMI</a></li>
                <li><a href="http://127.0.0.1:5000/food">FOOD</a></li>
                <li><a href="http://127.0.0.1:5000/exercise">EXERCISE</a></li>
                <li><a href="#">#</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                
            </div>
        </nav>
    
        
        <div class="container">
            
            <p class="p-title">
            <br><b>ต้มจืดไข่ขาว</b>
            <br>ไข่ไก่ เป็นวัตถุดิบอาหารคลีนที่นิยม
            <br>อย่างมากเพราะว่ามันวัตถุดิบที่สามารถหาซื้อได้ง่าย
            <br>และมีราคาที่ถูก ทุกคนสามารถหาได้
            <br>และทำอาหารได้ง่าย และต้มจืดไข่ขาว
            <br>เป็นหนึ่งในเมนูที่ทำง่ายและรวดเร็ว
            <br>มีพลังงานทั้งหมด 168 Kcal
            <br> 
            </p>
            
            <div class="menu">
                
                <img src="/static/images/ต้มจืดไข่ขาว.jpg" width="480px" height="400px">

                <hr>
                <img src="#" width="950px" height="480px"
                style="margin: 5% 0 0 0%;">
                <h3>วัตถุดิบ ต้มจืดไข่ขาว</h3>
                <p>
                        1. ไข่ขาว 100 กรัม 
                <br>    2. น้ำมันมะกอก 1 ชช. – น้ำสะอาด 250 มล.
                <br>    3. อกไก่สับ 50 กรัม
                <br>    4. แคร์ช้อยส์สูตรไม่เติมเกลือและน้ำตาล 1 ชต.
                <br>    5. ซีอิ้วขาวLOWโซเดียม 1/2 ชต.
                <br>    6. รากผักชี กระเทียมบุบตามชอบ
                <br>    7. ผักกาดขาว 40 กรัม
                <br>    8. แครอท 10 กรัม
                <br>    9. คึ่นฉ่ายหั่นท่อนตามชอบ
                <br>    10. พริกไทยป่นตามชอบ
                </p>
                <img src="/static/images/ต้มจืดไข่ขาว3.jpg">

                <h3>วิธีทำ ต้มจืดไข่ขาว</h3>
                <p>
                            1. ตั้งกระทะบนเตา ใส่น้ำมันลงไปรอกระทะร้อนเล็กน้อยแล้วเทไข่ขาวลงไป ทอดให้สุกทั้งสองด้าน ตักขึ้นพักไว้ 
                    <br>    2. ตั้งหม้อบนเตาใส่น้ำสะอาด ใส่รากผักชี กระเทียมบุบลงไปรอน้ำเดือดแล้วใส่ แคร์ช้อยส์สูตรไม่เติมเกลือและน้ำตาลลงไป ใช้ช้อนตักอกไก่เป็นก้อนๆพอคำใส่ลงไป ต้มจนอกไก่สุก 
                    <br>    3. ใส่ผักกาดขาว แครอท ไข่ขาวที่ทอดไว้ ปรุงรสเพิ่มด้วยซีอิ้วขาว ต้มต่อจนเดือดแล้วปิดไฟใส่คึ่นฉ่ายหั่นท่อน โรยพริกไทยป่นตามชอบ ตักใส่ถ้วยพร้อมทานร้อนๆ   
                    <br>      
                    <br>    
                    <br>     
                    <br>       
                    <br>                 
                    <br>        
                    <br>    
                </p>
                <p>
                    <br> #อ้างอิงข้อมูลจาก www.calforlife.com  เเละ www.maeban.co.th
                </p>
                
            </div>
            
            
            
   
    
        </div>
        

        
    </div>
</body>
</html>