<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css-file/food.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="
     sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Food Recommend</title>
</head>
<body>

    <div class="box-center">
        <nav >
            <div class="logo">
                <h4>HEALTH IS FUN</h4>
            </div>
            <ul class="nav-links">
                <li><a href="http://127.0.0.1:5000/home">HOME</a></li>
                <li><a href="http://127.0.0.1:5000/check_bmi">CHECK BMI</a></li>
                <li><a href="http://127.0.0.1:5000/food">FOOD</a></li>
                <li><a href="http://127.0.0.1:5000/exercise">EXERCISE</a></li>
                <li><a href="#">#</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
                
            </div>
        </nav>
    
        
        <div class="container">
            
            <p class="p-title">
            <br><b>ปลากะพงย่างซอสมิโซะ</b>
            <br>ปลากะพงเป็นเนื้อปลามีโปรตีนชั้นเยี่ยม
            <br>ย่อยง่าย และไขมันต่ำ และในไขมันก็ยังมีโอเมก้าและDHA
            <br>ซึ่งช่วยในเรื่องการบำรุงสมองรวมทั้งยังมีแร่ธาตุ วิตามิน
            <br>และสารอาหารอื่นๆอีกหลายชนิด และปลากะพง จัดว่าเป็นปลาที่มีไขมันต่ำ
            <br>เมื่อเทียบกับปลาทะเลชนิดอื่นๆคือ มีไขมัน เพียง 2-4 กรัม ต่อเนื้อปลา 1 ขีด 
            <br>โดยในเนื้อปลากะพงจะให้พลังงานอยู่ที่ 124 Kcal
            </p>
            
            <div class="menu">
                
                <img src="/static/images/ปลากระพงย่างซอสมิโซะ.jpg" width="480px" height="400px">

                <hr>
                <img src="#" width="950px" height="480px"
                style="margin: 5% 0 0 0%;">
                <h3>วัตถุดิบ ปลากะพงย่างซอสมิโซะ</h3>
                <p>
                        1. เนื้อปลากะพง (แล่เป็นชิ้น) 300 กรัม
                <br>    2. มิโซะ 80 กรัม
                <br>    3. มิโซะ 80 กรัม
                <br>    4. ไข่ไก่ (เฉพาะไข่แดง) 1 ฟอง
                <br>    5. น้ำมันพืช (สำหรับทาตะแกรง)
                <br>    6. หัวไช้เท้าขูด ตามต้องการ
                <br>    7. ข้าวสวยญี่ปุ่น ตามต้องการ
                </p>
                <img src="#">

                <h3>วิธีทำปลากะพงย่างซอสมิโซะ</h3>
                <p>
                            1. นำมิโซะและมิริน เทใส่กระทะ ตั้งไฟอ่อน กวนผสมจนเข้ากัน ใส่ไข่แดงลงไป คนจนเป็นเนื้อเดียวกัน พักไว้
                    <br>    2. ตั้งไฟสำหรับย่าง ทาน้ำมันพืชให้ทั่วตะแกรง ทาซอสมิโซะ (ในข้อ 1) ให้ทั่วเนื้อปลากะพง
                    <br>    3. นำไปย่างด้วยไฟอ่อนจนสุก จัดเสิร์ฟพร้อมกับหัวไช้เท้าขูด และข้าวสวยญี่ปุ่น
                </p>
                <p>
                    <br> #อ้างอิงข้อมูลจาก  https://cooking.kapook.com/view77294.html เเละ https://th.openrice.com/th/bangkok
                </p>
                
            </div>
            
            
            
   
    
        </div>
        

        
    </div>
</body>
</html>