.comment{
    width: 100%;
    height: 50%;
   
}

.comment form{
    background-color: antiquewhite;
    margin: 5% 0 0 30%;
    width: 30%;
}

.comment-input{
    height: 1%;
}
.box-comment{
    
    width: 50%;
    height: 200px;
    overflow:auto;
    margin: 3% 0 0 25%;
}