*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-center{
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0% 0 0 0;
}

nav{
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    background-color: rgb(98, 98, 58);
    align-items: center;
    
}

.logo {
    color: rgb(241, 255, 215);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 26px;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 550;
    font-size: 26px;
    color: rgb(241, 255, 215);
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div{
    background-color: rgb(255, 255, 255);
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3 ease;
}
@media screen  and (max-width:1024px){
    .nav-links { 
        width: 60%;
    }
}
   


@media screen  and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: antiquewhite;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}
    
    
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.title-food{
    height: 70%;
    width: 100%;
}
.title-food h1 {
    margin: 0 0 0 25.5%;
    font-size: 120px;
    font-family: 'Fredoka One', cursive;
}
.seach {
    width: 35%;

    margin: 2% 0 0 32%;
}



.list-menu {
    width: 5%;
    
    margin: 0 0 0 50%;
}








/* ------------------------------------------------------------------------------- */
.next-back {
    width: 100%;
    height: 12%;
    margin: 0% 0 0 0;
    position: absolute;

}

.page-n {
    margin: 1% 0 0 44%;
}

.page-n a {
    font-size: 22px;
    border: 1px solid black;
    text-decoration: none;
    

}




.menu {
    margin: 5% 0 0 15%;
    width: 73.5%;
    
}

.menu h3 {
    margin: 3% 0 0 0;
    font-size: 35px;
}
.menu p {
    font-size: 20px;
}


.title-box {
    width: 100%;
    margin: -3% 0 0 0%;

    font-size: 30px;
    font-weight: 500;
}

.title-box img{
    margin: 0 0 0 9%;
    width: 780px;
    height: 600px;
}

